<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Descuentos</h2>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                 <!--<div class="date-fecha" style="padding-top: 10px; padding-bottom:10px;">  
                                    <datepicker :value="date"></datepicker>
                                </div>-->
                                <form action="#" @submit.prevent="saveDescuento()">
                                    <h3>Registrar Descuentos.</h3>
                                    <div class="alert alert-warning alert-dismissable" v-if="message">
                                        <button aria-hidden="true"  @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                        <a class="alert-link" href="#">{{message}}</a>.
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Buscar Personal: </label>
                                        <div class="col-lg-10">
                                            <searchpersonalsueldo @change="changePersonal" ></searchpersonalsueldo>
                                            <div class="error text-danger" v-show="messagePersona">{{messagePersona}}.</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Sueldo (S/.): </label>
                                        <div class="col-lg-5">
                                            <input type="text" name="des_nmontosueldo" id="" class="form-control" v-model="descuento.nmontosueldo" disabled >
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Concepto: </label>
                                       
                                        <div class="col-lg-5">
                                            <select name="des_cconcepto" id="des_cconcepto" class="col-lg-12 form-control" v-model="descuento.cconcepto"  required>
                                                <option :value="conce.cconcepto" v-for="(conce, index) in conceptos" :key="'conc'+index">{{conce.cconcepto}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Detalle: </label>
                                        <div class="col-lg-5">
                                            <textarea  @input="$emit('input', $event.target.value)" v-model="descuento.cdetalle"  rows="5" cols="90" placeholder="Agregue los motivos requeridos..."></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Cuanto: </label>
                                        <div class="col-lg-5">
                                            <input type="number" step="0.01" name="des_nmonto" id="" class="form-control" v-model="descuento.nmonto" required>
                                        </div>
                                    </div>
                                
                                    <div class="form-group row">
                                        <i class="col-lg-2"></i>
                                        <div class="col-lg-10">
                                            <button class="btn btn-w-m btn-primary mr10" type="submit">Registrar</button>
                                            <a href="#" class="btn btn-default btn-w-m" @click="$router.go(-1)">Cancelar</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { required, minLength, maxLength, between, integer } from 'vuelidate/lib/validators'
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import searchpersonalsueldo from '@/components/s_personalSueldo.vue'
    import { descuentoStore } from "../../stores/descuentoStore.js";
    import { userStore } from "../../stores/userStore.js";
    import Datepicker from 'vuejs-datepicker';
    import { generalStore } from "../../stores/generalStore.js";
    
	export default {
		name: 'create_descuentos',
        components: {
            vmenu, vheader, searchpersonalsueldo, Datepicker
        },
		data() {
            return {
                descuento : {
                    iddescuento: '',
                    idpersonal: '',
                    cconcepto: '',
                    cdetalle: '',
                    nmonto: '',
                    nmontosueldo: '',
                    idestado: '',
                    idusureg:''
                },
                sueldo: '',
                perfiles : [],
                message : '',
                messagePersona : '',
                userStore: userStore.state,
                date: new Date(),
                conceptos: []
            };
        },
        computed: {
       
            
        },
        validations: {
   
        },
        methods: {
            saveDescuento(){
                this.$v.$touch();
                this.userStore.loading = true;
                let descuento = this.descuento;
                let invalid = false;

                if(this.descuento.idpersonal == ''){
                    invalid = true;
                    this.messagePersona = "Es necesario seleccionar un personal";
                }

                if (!invalid) {
                  
                    let idusureg = userStore.state.user.idUsuario;
                    
                    let idestado = '1';
                    descuentoStore.save(descuento.idpersonal, descuento.cconcepto, descuento.cdetalle, 
                            descuento.nmonto, descuento.nmontosueldo, idestado, idusureg)
                        .then( () => {
                            this.$router.replace({ name: "descuentos", params: {'message' : "Datos guardados exitosamente"} });
                        }, (error) => {
                            this.message = error;
                            this.userStore.loading = false;
                        });
                } else {
                    this.userStore.loading = false;
                };
            },
   
            changePersonal(dato){
                this.descuento.idpersonal = dato.split(' ')[0];
                this.descuento.nmontosueldo = dato.split(' ')[1];
                this.messagePersona = "";
            },

            closeNotification(){
                this.message = ''
            }
        },
        mounted() {
           generalStore.getConceptos().then( (response) => {
                var conceptos = [];
                this.conceptos = [];
                response.data.forEach(element => {
                    conceptos.push(element);
                });
                this.conceptos = conceptos.filter( el => {
                    return el.idtipoconcepto == '2';
                })
            })
        }
	}
</script>
<style lang="scss">
    .date-fecha{
        float: right;
    }
</style>