<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Descuentos</h2>
                    <router-link to="/descuentos/insertar" class="btn btn-primary btn-w-m">Agregar nuevo</router-link>
                </div>
                 <div class="dt-filter">
                    <strong>Filtrar: </strong>
                    <datepicker :minimumView="'month'" :maximumView="'year'" 
                                :initialView="'month'" :language="es" placeholder="Fecha"
                                format="MMM yyyy" class="dtpicker dtpicker-r" v-model="filter.fecha">
                    </datepicker>
                </div>
                <!--<div class="col-lg-2">
                    <span class="form-control search-box">
                        <label for="month">Filtrar:</label>
                        <select id="month" name="month" v-model="t_filter">
                            <option value="01" >Enero</option>
                            <option value="02" >Febrero</option>
                            <option value="03" >Marzo</option>
                            <option value="04" >Abril</option>
                            <option value="05" >Mayo</option>
                            <option value="06" >Junio</option>
                            <option value="07" >Julio</option>
                            <option value="08" >Agosto</option>
                            <option value="09" >Setiembre</option>
                            <option value="10" >Octubre</option>
                            <option value="11" >Noviembre</option>
                            <option value="12" >Diciembre</option>
                        </select>
                    </span>
                </div>-->
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                 <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <div class="alert alert-success alert-dismissable" v-if="message">
                                    <button aria-hidden="true" @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                    <a class="alert-link" href="#">{{message}}</a>.
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>Fecha</th>
                                            <th>Fecha</th>
                                            <th>Monto</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(descuento, index) in descuento_table" :key="'descuento'+index">
                                            <td>{{index+1}}</td>
                                            <td>{{descuento.cnombpersona}}</td>
                                            <td>{{descuento.dfechareg | todate}}</td>
                                            <td>{{descuento.cconcepto}}</td>
                                            <td>{{descuento.nmonto | tomoney}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { descuentoStore } from "../../stores/descuentoStore.js";
    import { userStore } from "../../stores/userStore.js";
    import Datepicker from 'vuejs-datepicker';
    import { es } from 'vuejs-datepicker/dist/locale'

	export default {
		name: 'descuentos',
        components: {
            vmenu, vheader, Datepicker 
        },
        props: {
            message: ''
        },
		data() {
            return {
                t_filter : '',
                descuento : descuentoStore.state,
                userStore: userStore.state,
                date: new Date(),
                annos: [],
                es: es,
                filter: {
                   fecha: '' 
                }
            };
        },
      
        methods: {
            closeNotification(){
                this.message = ''
            },
            /* convert(str) {
                var mnths = {
                    Jan: "01",
                    Feb: "02",
                    Mar: "03",
                    Apr: "04",
                    May: "05",
                    Jun: "06",
                    Jul: "07",
                    Aug: "08",
                    Sep: "09",
                    Oct: "10",
                    Nov: "11",
                    Dec: "12"
                    },
                    date = str.split(" ");

                return [date[3], mnths[date[1]], date[2]].join("-");
            }*/

   
        },
        computed: {

            descuento_table: function(){
                //console.log((new Date(this.filter.now).toISOString()).substring(0,10));
                var mes = "-" + this.t_filter + "-"
                function filterItems(descuentos, arg) {
                    return descuentos.filter(function (el) {
                        //Editar
                        
                        console.log(arg);
                        
                        return el.dfechareg.includes(arg);
                    });
                }
                return filterItems(this.descuento.descuentos, mes);
            },
             minDate: function(){
                
                //return (new Date(this.filter.now).toISOString()).substring(0,10);

            }
        },
        mounted() {
            this.userStore.loading = true;
            descuentoStore.getDescuentos().then( ()=> {
                console.log(this.descuento.descuentos);
                this.userStore.loading = false;
            }, () => {
                this.userStore.loading = false;
            });

            let mes = this.date.getMonth() + 1; 
            let ano = this.date.getFullYear();

            this.annos.push(ano);
            console.log(this.annos);



            
            //get month
            if( this.date.getMonth() < 9 ){
                this.t_filter = "0" + mes;
            }else{
                this.t_filter = mes;
            }

 
            
        },

	}
</script>
<style lang="scss">
    .dtpicker{
        margin: 20px 5px 0;
        text-align: center;
        display: inline-block;
        input{
            text-align: center;
            background-color: #FFFFFF;
            background-image: none;
            border: 1px solid #e5e6e7;
            border-radius: 1px;
            color: inherit;
            padding: 6px 12px;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
            width: 100px;
        }
        &.dtpicker-r{
            .vdp-datepicker__calendar{
                right: 0;
            }
        }
    }
    .dt-filter{
        position: absolute;
        right: 20px;
    }
    @media screen and (max-width: 480px){
        .dt-filter{
            position: relative;
            width: 100%;
            text-align: left;
            right: 0;
            left: 20px;
        }
    }
</style>