<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-8">
                    <h2>Kardex</h2>
                    <a to="" class="btn btn-primary btn-w-m" @click="selected()">Filtrar</a>
                </div>
                <div class="dt-filter">
                    <strong>Producto: </strong>
                    <div class="dtpicker dtpicker-r">
                        
                    
                        <searchproducto @change="changeproducto"></searchproducto>
                            
                        
                    </div>
                    <!--<strong>Almacen: </strong>
                    <div class="dtpicker dtpicker-r">
                            <select name="cl_dept" id="cl_dept" class="form-control" v-model="karde.idalmacen"  >
                                <option :value="almacen.idalmacen" v-for="(almacen, index) in almacenes" :key="'al'+index">{{almacen.cnombrealmacen}}</option>
                            </select>   
                    </div>-->
                    <strong>Filtrar: </strong>
                    <datepicker :minimumView="'day'"  :maximumView="'year'" 
                                :initialView="'day'" :language="es" placeholder="Fecha inicio"
                                format="dd MMM yyyy" class="dtpicker dtpicker-r" v-model="karde.min" >
                    </datepicker>
                    -
                    <datepicker :minimumView="'day'"  :maximumView="'year'" 
                                :initialView="'day'" :language="es" placeholder="Fecha final"
                                format="dd MMM yyyy" class="dtpicker dtpicker-r" v-model="karde.max" >
                    </datepicker>
                    
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content table-responsive">
                                <div class="alert alert-success alert-dismissable" v-if="message">
                                    <button aria-hidden="true" @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                    <a class="alert-link" href="#">{{message}}</a>.
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>       
                                            <th>Fecha y hora</th>
                                            <th>Tipo de transacción</th>
                                            <th>Nombre almacen</th>
                                            <th>Codigo</th>
                                            <th>Producto</th>
                                            <th>Unidad</th>
                                            <th>Peso bruto</th>
                                            <th>Precio base</th>
                                            <th>Peso neto</th>
                                            <th>Precio venta</th>
                                            <th>Total</th>
                             
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(karde, index) in karde_table" :key="'karde'+index">
                                            <td>{{index+1}}</td>
                                            <td>{{karde.dfechareg}}</td>
                                            <td>{{karde.transaccion}}</td>
                                            <td>{{karde.cnombrealmacen}}</td>
                                            <td>{{karde.ccodproducto}}</td>
                                            <td>{{karde.cnombproducto}}</td>
                                            <td>{{karde.cunidad}}</td>
                                            <td>{{karde.npesobruto}}</td>
                                            <td>{{karde.npreciobase | tomoney}}</td>
                                            <td>{{karde.npesoneto}}</td>
                                            <td>{{karde.nprecioventa | tomoney}}</td>
                                            <td>{{karde.totalbruto | tomoney}}</td>

                                            
                                            


                                        </tr>
                                       
                                    </tbody>
                                     <a :href="this.kardeStore.uri" @click="reporte()" target="blank">Emitir reporte</a> 
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { kardeStore } from "../../stores/kardeStore.js";
    import { userStore } from "../../stores/userStore.js";
    import searchproducto from '@/components/s_productos.vue'
    import { generalStore } from "../../stores/generalStore.js";
    import Datepicker from 'vuejs-datepicker';
    import { es } from 'vuejs-datepicker/dist/locale'
    
	export default {
		name: 'kardex',
        components: {
            vmenu, vheader, Datepicker, searchproducto
        },
        props: {
            message: ''
        },
		data() {
            return {
                t_filter : '',
                kardeStore : kardeStore.state,
                userStore: userStore.state,
                es: es,
                filter: {
                    min : '',
                    max : ''
                },
                almacenes: [],
                karde: {
                    idproducto: '',
                    idalmacen: '1',
                    min: '',
                    max: '',
                    
                }
            };
        },
        methods: {
            closeNotification(){
                this.message = ''
            },
            selected() {   
                
                if(this.karde.min != null && this.karde.min != '' ){
                    if (this.karde.min != null && this.karde.min != '' ) {
                        if (this.karde.idalmacen != null &&  this.karde.idalmacen != '') {
                            this.userStore.loading = true;
                            
                            let fecha_inicio = this.karde.min.toLocaleDateString();
                            let fecha_final = this.karde.max.toLocaleDateString();
                            let idalmacen = this.karde.idalmacen;
                            kardeStore.getKarde(this.karde.idproducto, this.reformatDateString(fecha_inicio), this.reformatDateString(fecha_final)).then( ()=> {

                                this.userStore.loading = false;
                            }, () => {
                                this.userStore.loading = false;
                            });
                        }
                    }

                }

            },
             reporte(){
                
               
                if(this.karde.min != null && this.karde.min != '' ){
                    if (this.karde.min != null && this.karde.min != '' ) {
                        if (this.karde.idalmacen != null &&  this.karde.idalmacen != '') {
                            this.userStore.loading = false;
                            
                            let fecha_inicio = this.karde.min.toLocaleDateString();
                            let fecha_final = this.karde.max.toLocaleDateString();
                            let idalmacen = this.karde.idalmacen;
                             kardeStore.getReporte(this.karde.idproducto, this.reformatDateString(fecha_inicio), this.reformatDateString(fecha_final)).then( ()=> {

                                this.userStore.loading = false;
                            }, () => {
                                this.userStore.loading = false;
                            });
                        }
                    }

                }
               
                
            },
            reformatDateString(fecha){

                if(fecha != null && fecha != ""){
                    let y = fecha.toString();
                    let x = y.replace("/", "-");
                    x = x.replace("/", "-");

                    var b = x.split(/\D/);
                    var nueva_fecha =  b.reverse().join('-');

                    return nueva_fecha;    
                }

                

            },
            changeproducto(id){
                this.karde.idproducto = id;
            }
        },
        computed: {
            karde_table: function(){
                function filterItems(kardex, arg) {
                    
                    return kardex.filter(function (el) {
                        
                        return el
                               
                    });
                }
                return filterItems(this.kardeStore.kardex, this.t_filter.toUpperCase());
            },
            minDate: function(){
                return (new Date(this.filter.min).toISOString()).substring(0,10);
            },
            maxDate: function(){
                var selected = new Date(this.filter.max);
                var next = new Date(selected.setMonth(selected.getMonth()+1));
                return next.toISOString().substring(0,10);
            }
        },
        mounted() {
        

            generalStore.getAlmacenes().then( (response) => {
                this.almacenes = [];
                response.data.forEach(element => {
                    this.almacenes.push(element);
                });
            });
        },

	}
</script>

<style lang="scss">
    .dtpicker{
        margin: 25px 5px 0;
        text-align: center;
        display: inline-block;
        input{
            text-align: center;
            background-color: #FFFFFF;
            background-image: none;
            border: 1px solid #e5e6e7;
            border-radius: 1px;
            color: inherit;
            padding: 0px 0px;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
            width: 100px;
        }
        &.dtpicker-r{
            .vdp-datepicker__calendar{
                right: 0;
            }
        }
    }
    .dt-filter{
        position: absolute;
        right: 20px;
    }
    @media screen and (max-width: 480px){
        .dt-filter{
            position: relative;
            width: 100%;
            text-align: left;
            right: 0;
            left: 20px;
        }
    }
</style>