<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Adelantos a Proveedores</h2>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                 <!--<div class="date-fecha" style="padding-top: 10px; padding-bottom:10px;">  
                                    <datepicker :value="date"></datepicker>
                                </div>-->
                                <form action="#" @submit.prevent="saveAdelantos_cliente()">
                                    <h3>Registrar Adelantos.</h3>
                                    <div class="alert alert-warning alert-dismissable" v-if="message">
                                        <button aria-hidden="true"  @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                        <a class="alert-link" href="#">{{message}}</a>.
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Buscar Proveedor: </label>
                                        <div class="col-lg-10">
                                            <searchcliente @change="changePersonal" ></searchcliente>
                                            <div class="error text-danger" v-show="messagePersona">{{messagePersona}}.</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Concepto: </label>
                                        <div class="col-lg-5">
                                            <select name="ade_cconcepto" id="des_cconcepto" class="col-lg-12 form-control" v-model="adelantos_cliente.cconcepto"  required>
                                                <option :value="conce.cconcepto" v-for="(conce, index) in conceptos" :key="'conc'+index">{{conce.cconcepto}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Detalle: </label>
                                        <div class="col-lg-5">
                                            <textarea  @input="$emit('input', $event.target.value)" v-model="adelantos_cliente.cdetalle"  rows="5" cols="90" placeholder="Agregue los motivos requeridos..."></textarea>

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Cuanto: </label>
                                        <div class="col-lg-5">
                                            <input type="number" name="ade_nmonto" id="" class="form-control" v-model="adelantos_cliente.nmonto" required>
                                            <!--<div class="error text-danger" v-show="correct.exist">*Seleccione primero un personal.</div>-->
                                            <div class="error text-danger" v-show="correct.monto">*El adelanto no debe ser mayor al sueldo.</div>
                                        </div>
                                    </div>
                                
                                    <div class="form-group row">
                                        <i class="col-lg-2"></i>
                                        <div class="col-lg-10">
                                            <button class="btn btn-w-m btn-primary mr10" type="submit">Registrar</button>
                                            <a href="#" class="btn btn-default btn-w-m" @click="$router.go(-1)">Cancelar</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { required, minLength, maxLength, between, integer } from 'vuelidate/lib/validators'
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import searchcliente from '@/components/s_clientes.vue'
    import { adelantos_clienteStore } from "../../stores/adelantos_clienteStore.js";
    import { generalStore } from "../../stores/generalStore.js";
    import { userStore } from "../../stores/userStore.js";
    import Datepicker from 'vuejs-datepicker';
    
	export default {
		name: 'create_adelantos_proveedores',
        components: {
            vmenu, vheader, searchcliente, Datepicker
        },
		data() {
            return {
                adelantos_cliente : {
                    idadelanto: '',
                    idcliente: '',
                    cconcepto: '',
                    cdetalle: '',
                    nmonto: '',
                    idusureg:''
                },
                sueldo: '',
                perfiles : [],
                message : '',
                messagePersona : '',
                userStore: userStore.state,
                date: new Date(),
                correct : {
                    monto : false,
                    //exist : false
                },
                conceptos: []
            };
        },
        computed: {
        
        },
        validations: {

        },
        methods: {
            saveAdelantos_cliente(){
                this.$v.$touch();
                this.userStore.loading = true;
                let adelantos_cliente = this.adelantos_cliente;
                let invalid = false;

                if(this.adelantos_cliente.idcliente == ''){
                    invalid = true;
                    this.messagePersona = "Es necesario seleccionar un proveedor";
                }

                if (!invalid) {
                    
                    let idusureg = userStore.state.user.idUsuario;

                    adelantos_clienteStore.save(adelantos_cliente.idcliente, adelantos_cliente.cconcepto.toUpperCase(), adelantos_cliente.cdetalle, 
                            adelantos_cliente.nmonto, idusureg)
                        .then( () => {
                            this.$router.replace({ name: "adelantos_proveedores", params: {'message' : "Datos guardados exitosamente"} });
                        }, (error) => {
                            this.message = error;
                            this.userStore.loading = false;
                        });
                } else {
                    this.userStore.loading = false;
                };
            },
   
            changePersonal(id){
                this.adelantos_cliente.idcliente = id;
                console.log(this.adelantos_cliente.idcliente );
                this.messagePersona = "";
            },

            closeNotification(){
                this.message = ''
            },
    
        },
        mounted() {
            generalStore.getConceptos().then( (response) => {
                var conceptos = [];
                this.conceptos = [];
                response.data.forEach(element => {
                    conceptos.push(element);
                });
                this.conceptos = conceptos.filter( el => {
                    return el.idtipoconcepto == '3';
                })
            })
        }
	}
</script>
<style lang="scss">
    .date-fecha{
        float: right;
    }
</style>