<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Salida de productos</h2>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <form action="#" @submit.prevent="saveSalida()">
                                    <h3>Registrar venta</h3>
                                    <!-- <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Email</label>
                                        <div class="col-lg-10">
                                            <input type="email" placeholder="Email" class="form-control">
                                            <span class="form-text m-b-none">Example block-level help text here.</span>
                                        </div>
                                    </div> -->
                                    <div class="alert alert-warning alert-dismissable" v-if="message">
                                        <button aria-hidden="true"  @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                        <a class="alert-link" href="#">{{message}}</a>.
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Cliente: </label>
                                        <div class="col-lg-10">
                                            <searchcliente @change="changeCliente"></searchcliente>
                                            <div class="text-danger" v-show="!valCliente">Seleccionar un cliente es requerido.</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Productos: </label>
                                        <div class="col-lg-10">
                                            <div class="product-car">
                                                <div class="product-car-header">
                                                    <label for="">- Agregar productos</label>
                                                    <searchproducto3 @change="addCar"></searchproducto3>
                                                </div>
                                                <br>
                                                <div class="product-car-body">
                                                    <label for="">- Productos seleccionados</label>
                                                    <table class="table table-sm table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Producto</th>
                                                                <th>Precio</th>
                                                                <th>Cantidad</th>
                                                                <th>Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="product-add" v-for="(producto, index) in salidaStore.carrito" :key="'car_'+producto.index">
                                                                <td>{{producto.cnombproducto}}</td>
                                                                <td>{{producto.nprecioventa | tomoney}}</td>
                                                                <td>
                                                                    <input type="number" v-model="producto.cantidad" @change="totalProducto(producto)">
                                                                </td>
                                                                <td>{{producto.cantidad_nprecio | tomoney}}</td>
                                                                <td><button aria-hidden="true" @click="deleteProd(producto.index)" data-dismiss="alert" class="close" type="button">×</button></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="text-danger" v-show="!valProductos">Debe de agregar al menos un producto.</div>
                                            </div>
                                            <!-- <div class="text-danger" v-show="!$v.personal.idlocal.required">Debe de agregar al menos un producto.</div> -->
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <i class="col-lg-2"></i>
                                        <div class="col-lg-10">
                                            <button class="btn btn-w-m btn-primary mr10" type="submit">Registrar</button>
                                            <a href="#" class="btn btn-default btn-w-m" @click="$router.go(-1)">Cancelar</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { required, minLength, maxLength, decimal, minValue } from 'vuelidate/lib/validators'
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import searchcliente from '@/components/s_clientes.vue'
    import searchproducto3 from '@/components/s_productos3.vue'
    import { personalStore } from "../../stores/personalStore.js";
    import { userStore } from "../../stores/userStore.js";
    import { generalStore } from "../../stores/generalStore.js";
    import { salidaStore } from "../../stores/salidaStore.js";
    import { entradaStore } from "../../stores/entradaStore.js";
    
	export default {
		name: 'create_salidas',
        components: {
            vmenu, vheader, searchcliente, searchproducto3
        },
		data() {
            return {
                personal : {
                    idestado: true
                },
                entradas : [],
                carrito : [],
                filterClient : '',
                message : '',
                userStore: userStore.state,
                salidaStore: salidaStore.state,
                entradaStore: entradaStore.state,
                valCliente: true,
                valProductos: true
            };
        },
        computed: {
        },
        validations: {
            
        },
        methods: {
            saveSalida(){
                this.userStore.loading = true;
                if(!this.personal.idcliente){
                    this.valCliente = false;
                    this.userStore.loading = false;
                } else if(this.salidaStore.carrito.length < 1){
                    this.valProductos = false;
                    this.userStore.loading = false;
                }
                 else {
                    let idusureg = userStore.state.user.idUsuario;
                    let personal = this.personal;
                    let ccodventa = "VENT" + (new Date().getTime());
                    
                    let n_total = 0;
                    this.salidaStore.carrito.forEach( (el) =>{
                        n_total += parseFloat(el.cantidad_nprecio);
                    })
                    var igv = n_total - n_total/1.18;
                    var base = n_total/1.18;

                    salidaStore.save(personal.idcliente, ccodventa, base, igv, n_total, idusureg)
                        .then( () => {
                            var dventa = {
                                dventas : []
                            }
                            this.salidaStore.carrito.forEach( (el, index) =>{
                                //n_total += parseFloat(el.cantidad_nprecio);
                                let igv = el.cantidad_nprecio - el.cantidad_nprecio/1.18;
                                let base = el.cantidad_nprecio/1.18;

                                dventa.dventas.push({
                                    'ccodventa': ccodventa, 
                                    'idproducto' :el.idproducto, 
                                    'cantidad' :el.cantidad, 
                                    'ntotalparcial': base,    
                                    'nafecigv': igv, 
                                    'ntotal': el.cantidad_nprecio
                                     //idusureg
                                })

                            })
                            salidaStore.saveDetalle(dventa)
                            .then( () => {
                                this.userStore.loading = false;
                                this.$router.replace({ name: "salidas", params: {'message' : "Venta registrada exitosamente"} });
                            }, (error) => {
                                this.message = error;
                                this.userStore.loading = false;
                            });

                        }, (error) => {
                            this.message = error;
                            this.userStore.loading = false;
                        });
                }              
            },
            closeNotification(){
                this.message = ''
            },
            changeCliente(id){
                this.personal.idcliente = id;
                this.valCliente = true;
            },
            addCar(id){
                var existe = false;
                this.salidaStore.carrito.forEach( el => {
                    if(el.index == id.index)
                        existe = true;
                })

                if(!existe){
                    id.cantidad = 1;
                    this.totalProducto(id);
                    this.salidaStore.carrito.push(id);
                    var car = this.salidaStore.carrito;
                    
                    this.salidaStore.carrito = [];
                    car.forEach(element => {
                        this.salidaStore.carrito.push(element);
                    });
                    this.valProductos = true;
                }
            },
            totalProducto(producto){
                let cantidad = producto.cantidad;
                    let precio = producto.nprecioventa;
                    producto.cantidad_nprecio = parseFloat(cantidad)*parseFloat(precio);
                    //debugger;
                this.$forceUpdate()
            },
            deleteProd(index){
                var filtered = this.salidaStore.carrito.filter(function(value){
                    return value.index != index;
                });
                this.salidaStore.carrito = [];
                filtered.forEach( el => {
                    this.salidaStore.carrito.push(el);
                })
            }
        },
        mounted() {
            this.salidaStore.carrito = [];
            this.userStore.loading = true;
            entradaStore.getEntradas().then( (response)=> {
                this.entradas = [];
                response.data.forEach(element => {
                    this.entradas.push(element);
                });
                this.userStore.loading = false;
            }, () => {
                this.userStore.loading = false;
            });
        }
	}
</script>

<style lang="scss">
    .product-car{
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 3px;
    }
</style>