<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Salida de productos</h2>
                    <router-link to="/salidas/insertar" class="btn btn-primary btn-w-m">Agregar nuevo</router-link>
                </div>
                <!-- <div class="col-lg-2">
                    <input type="text" placeholder="Buscar ..." class="form-control search-box" v-model="t_filter">
                </div> -->
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <div class="alert alert-success alert-dismissable" v-if="message">
                                    <button aria-hidden="true" @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                    <a class="alert-link" href="#">{{message}}</a>.
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Cod. Venta</th>
                                            <th>Cliente</th>
                                            <th>Total parcial</th>
                                            <th>IGV</th>
                                            <th>Total</th>
                                            <th>Fecha</th>
                                            <th class="text-center"> - </th>
                                            <!-- <th class="text-center"> - </th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(salida, index) in salidaStore.salidas" :key="'personal'+index">
                                            <td>{{index+1}}</td>
                                            <td>{{salida.ccodventa}}</td>
                                            <td>{{salida.cnombpersona}}</td>
                                            <td>{{salida.ntotal | tomoney}}</td>
                                            <td>{{salida.nafecigv | tomoney}}</td>
                                            <td>{{salida.ntotalparcial | tomoney}}</td>
                                            <td>{{salida.dfechareg | todate}}</td>
                                            <!-- <td class="text-center">
                                                <router-link :to="{path: 'salidas/editar/'+salida.idventa}"
                                                             class="btn btn--m">Editar</router-link>
                                            </td> -->
                                            <td class="text-center">
                                                <router-link :to="{path: 'salidas/ver/'+salida.ccodventa}"
                                                             class="btn btn--m">Ver</router-link>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { salidaStore } from "../../stores/salidaStore.js";
    import { userStore } from "../../stores/userStore.js";
    
	export default {
		name: 'salidas',
        components: {
            vmenu, vheader
        },
        props: {
            message: ''
        },
		data() {
            return {
                t_filter : '',
                salidaStore : salidaStore.state,
                userStore: userStore.state
            };
        },
        methods: {
            closeNotification(){
                this.message = ''
            }
        },
        computed: {
            personal_table: function(){
                function filterItems(personals, arg) {
                    return personals.filter(function (el) {
                        return el.cnombpersona.toUpperCase().includes(arg) || 
                               el.cnumdoc.toUpperCase().includes(arg) || 
                               el.cnombrelocal.toUpperCase().includes(arg);
                    });
                }
                return filterItems(this.userStore.salidas, this.t_filter.toUpperCase());
            }
        },
        mounted() {
            this.userStore.loading = true;
            salidaStore.getSalidas().then( ()=> {
                this.userStore.loading = false;
            }, () => {
                this.userStore.loading = false;
            });
        },

	}
</script>