<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Detalle de venta</h2>
                </div>
                <!-- <div class="col-lg-2">
                    <input type="text" placeholder="Buscar ..." class="form-control search-box" v-model="t_filter">
                </div> -->
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <a @click="$router.go(-1)" class="btn-outline btn-default btn">&#60;&#60; Regresar a listado</a>
                                <br><br>
                                <div class="table-before">
                                    <strong>Cliente: </strong>
                                    <span>{{salida.cnombpersona}}</span>
                                    <br>
                                    <strong>Cod. Venta: </strong>
                                    <span>{{salida.ccodventa}}</span>
                                </div>
                                <br>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <!-- <th>Cod. Venta</th> -->
                                            <th>Producto</th>
                                            <th>Cantidad</th>
                                            <th>Total parcial</th>
                                            <th>IGV</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(salida, index) in salidaStore.dsalidas" :key="'personal'+index">
                                            <td>{{index+1}}</td>
                                            <!-- <td>{{salida.ccodventa}}</td> -->
                                            <td>{{salida.cnombproducto}}</td>
                                            <td>{{salida.cantidad}}</td>
                                            <td>{{salida.ntotalparcial | tomoney}}</td>
                                            <td>{{salida.nafecigv | tomoney}}</td>
                                            <td>{{salida.ntotal | tomoney}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { salidaStore } from "../../stores/salidaStore.js";
    import { userStore } from "../../stores/userStore.js";
    
	export default {
		name: 'salidas',
        components: {
            vmenu, vheader
        },
        props: {
            message: ''
        },
		data() {
            return {
                t_filter : '',
                salidaStore : salidaStore.state,
                userStore: userStore.state,
                salida: {}
            };
        },
        methods: {
            closeNotification(){
                this.message = ''
            }
        },
        computed: {
            
        },
        mounted() {
            let id = this.$route.params.id;
            this.userStore.loading = true;
            salidaStore.getDetalleSalida(id).then( ()=> {
                this.userStore.loading = false;
            }, () => {
                this.userStore.loading = false;
            });

            this.salida = this.salidaStore.salidas.filter(val => {
                return val.ccodventa = id;
            })[0];
        },

	}
</script>