<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Almacenes</h2>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <form action="#" @submit.prevent="saveAlmacen()">
                                    <h3>Registrar almacenes.</h3>
                                   
                                    <div class="alert alert-success alert-dismissable" v-if="message">
                                        <button aria-hidden="true"  @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                        <a class="alert-link" href="#">{{message}}</a>.
                                    </div>
                                     <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Nombre del almacen: </label>
                                        <div class="col-lg-10">
                                            <input type="text" name="al_cnombrealmacen" id="" class="form-control" v-model="almacen.cnombrealmacen" required>
                                        </div>
                                    </div>
                                     <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Local: </label>
                                        <div class="col-lg-10">
                                            <select name="al_local" id="al_local" class="col-lg-12 form-control" v-model="almacen.idlocal"  @change="generarCodigo()" required>
                                                <option :value="local.idlocal" v-for="(local, index) in locales" :key="index">{{local.cnombrelocal}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Codigo de almacen: </label>
                                        <div class="col-lg-5">
                                            <input type="text" name="al_ccodalmacen" id="" class="form-control" v-model="almacen.ccodalmacen" required disabled>
                                        </div>
                                
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Telefono: </label>
                                        <div class="col-lg-10">
                                            <input type="number" name="al_cnumtelefono" id="" class="form-control" v-model="almacen.cnumtelefono">
                                        </div>
                                    </div>
                                   
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Responsable: </label>
                                        <div class="col-lg-10">
                                            <searchpersonal @change="changePersonal" ></searchpersonal>
                                        </div>
                                    </div>
                      
                                    <br>
                                    <template>
                                        <h3>Ubicación</h3>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Departamento: </label>
                                            <div class="col-lg-5">
                                                <select name="al_dept" id="al_dept" class="col-lg-12 form-control" v-model="almacen.ccoddpto" @change="loadProvincia()" required>
                                                    <option :value="place.ccoddpto" v-for="(place, index) in ubigeo.departamento" :key="'dpto'+index">{{place.cnombdpto}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Provincia: </label>
                                            <div class="col-lg-5">
                                                <select name="al_provincia" id="al_provincia" class="col-lg-12 form-control" v-model="almacen.ccodprov" @change="loadDistrito()" required>
                                                    <option :value="place.ccodprov" v-for="(place, index) in ubigeo.provincia" :key="'prov'+index">{{place.cnombprov}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Distrito: </label>
                                            <div class="col-lg-5">
                                                <select name="al_distrito" id="al_distrito" class="col-lg-12 form-control" v-model="almacen.ccoddist" required>
                                                    <option :value="place.ccoddist" v-for="(place, index) in ubigeo.distrito" :key="'dist'+index">{{place.cnombdist}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </template>
                                    <div class="form-group row">
                                        <i class="col-lg-2"></i>
                                        <div class="col-lg-10">
                                            <button class="btn btn-w-m btn-primary mr10" type="submit">Registrar</button>
                                            <a href="#" class="btn btn-default btn-w-m" @click="$router.go(-1)">Cancelar</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { required, minLength, maxLength, between, integer, maxValue } from 'vuelidate/lib/validators'
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import searchpersonal from '@/components/s_personales.vue'
    import { almacenStore } from "../../stores/almacenStore.js";
    import { userStore } from "../../stores/userStore.js";
    import { generalStore } from "../../stores/generalStore.js";
    
	export default {
		name: 'create_almacenes',
        components: {
            vmenu, vheader, searchpersonal
        },
		data() {
            return {
                almacen : {
                    idalmacen: '',
                    cnombrealmacen: '',
                    ccodalmacen: '',
                    ccoddpto: '',
                    ccodprov: '',
                    departamento: '',
                    ccoddist: '',
                    cnumtelefono: '',
                    idpersonal: '',
                    idusureg: '',
                    dfechareg: '',
                    lvigente: '',
                    idlocal: ''

                },
                locales : [],
                ubigeo : {
                    departamento : [],
                    provincia : [],
                    distrito : []
                },
                message : '',
                userStore: userStore.state,
           
            };
        },
        computed: {
         
        },
        validations: {
            almacens: {
                      
                cnumcel :{
                    integer
                },
               
            }
        },
        methods: {
            saveAlmacen(){
                this.$v.$touch();
                this.userStore.loading = true;
                let almacen = this.almacen;
                let invalid = false;
               
               

                if (!invalid) {
                    
                    let idusureg = userStore.state.user.idUsuario;
                    

                    almacenStore.save(almacen.cnombrealmacen, almacen.ccoddpto, almacen.ccodprov, almacen.ccoddist, almacen.ccodalmacen, almacen.cnumtelefono, almacen.idlocal, almacen.idpersonal, idusureg)
                        .then( () => {
                            this.$router.replace({ name: "almacenes", params: {'message' : "Datos guardados exitosamente"} });
                        }, (error) => {
                            this.message = error;
                            this.userStore.loading = false;
                        });
                } else {
                    this.userStore.loading = false;
                }
            },
          
            loadProvincia(){
                let id = this.almacen.ccoddpto;
                this.ubigeo.provincia = [];
                generalStore.getProvincias(id).then( (response) => {
                    response.data.forEach(element => {
                        this.ubigeo.provincia.push(element);
                    })
                })
            },
            loadDistrito(){
                let id = this.almacen.ccodprov;
                this.ubigeo.distrito = [];
                generalStore.getDistritos(id).then( (response) => {
                    response.data.forEach(element => {
                        this.ubigeo.distrito.push(element);
                    })
                })
            },
        
            closeNotification(){
                this.message = ''
            },
            changePersonal(dato){
                
                this.almacen.idpersonal = dato.split(' ')[0];
            },
    
            generarCodigo(){
                    
                    let id = this.almacen.idlocal;
                    
                    generalStore.getCodigo(id).then( (response) => {
                        
                       this.almacen.ccodalmacen = response.data[0].codigo;
                    
                    })
                
            }
        },
        mounted() {
            generalStore.getDepartamentos().then( (response) => {
                this.ubigeo.departamento = [];
                response.data.forEach(element => {
                    this.ubigeo.departamento.push(element);
                });
            });
               
               
            
            generalStore.getLocales().then( (response) => {
                this.locales = [];
                response.data.forEach(element => {
                    this.locales.push(element);
                });
            });
                
            
        }
	}
</script>