<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Almacenes</h2>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <a href="#" class="btn btn-danger btn-outline baja" @click.prevent="baja()">
                                    <i class="fa fa-trash"></i>
                                    Dar de baja
                                </a>
                                <form action="#" @submit.prevent="editAlmacen()">
                                    <h3>Editar almacenes.</h3>
                                 
                                    <div class="alert alert-warning alert-dismissable" v-if="message">
                                        <button aria-hidden="true"  @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                        <a class="alert-link" href="#">{{message}}</a>.
                                    </div>
                                     <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Nombre del almacen: </label>
                                        <div class="col-lg-10">
                                            <input type="text" name="al_cnombrealmacen" id="" class="form-control" v-model="almacen.cnombrealmacen" disabled>
                                        </div>
                                    </div>
                                     <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Local: </label>
                                        <div class="col-lg-10">
                                            
                                            <input type="text" name="al_local" id="" class="form-control" v-model="almacen.cnombrelocal" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Codigo de almacen: </label>
                                        <div class="col-lg-5">
                                            <input type="text" name="al_ccodalmacen" id="" class="form-control" v-model="almacen.ccodalmacen"  disabled>
                                        </div>
                                
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Nombre: </label>
                                        <div class="col-lg-10">
                                            <input type="text" name="al_cnombpersona" id="" class="form-control" v-model="almacen.cnombpersona" disabled>
                                        </div>
                                    </div>
                                    <br>
                                    <hr>
                                    <br>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Telefono: </label>
                                        <div class="col-lg-10">
                                            <input type="number" name="al_cnumtelefono" id="" class="form-control" v-model="almacen.cnumtelefono">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Buscar Persona: </label>
                                        <div class="col-lg-10">
                                            <searchcliente @change="changePersonal"></searchcliente>
                                        </div>
                                    </div>

                                  
                                    <div class="form-group row">
                                        <i class="col-lg-2"></i>
                                        <div class="col-lg-10">
                                            <button class="btn btn-w-m btn-primary mr10" type="submit">Editar</button>
                                            <a href="#" class="btn btn-default btn-w-m" @click="$router.go(-1)">Cancelar</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { required, minLength, maxLength, between, integer } from 'vuelidate/lib/validators'
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { almacenStore } from "../../stores/almacenStore.js";
    import searchcliente from '@/components/s_clientes.vue'
    import { userStore } from "../../stores/userStore.js";
    

	export default {
		name: 'edit_almacenes',
        components: {
            vmenu, vheader, searchcliente
        },
		data() {
            return {
                almacen : {
                    idalmacen: '',
                    cnombrealmacen: ' ',
                    cnombrelocal: '',
                    ccodalmacen: '',
                    cnumtelefono: '',
                    idpersonal: '',
                    cnombpersona: '',
                    idusumod: ''

                },
                message : '',
                almacenStore : almacenStore.state,
                userStore: userStore.state
            };
        },
        computed: {
          
       
        },
        validations: {
        
        },
        methods: {
            editAlmacen(){
                
                this.$v.$touch();
                this.userStore.loading = true;
                let almacen = this.almacen;
                let invalid = false;
               

                if (!invalid) {
                    
                    let idusureg = userStore.state.user.idUsuario;
                    console.log(almacen.idpersonal);
                    almacenStore.edit(almacen.idalmacen, almacen.cnombrealmacen, almacen.idpersonal, almacen.cnumtelefono, almacen.idusumod )
                        .then( () => {
                            this.$router.replace({ name: "almacenes", params: {'message' : "Almacen actualizado exitosamente"} });
                        }, (error) => {
                            this.userStore.loading = false;
                            this.message = error;
                        });
                } else {
                    this.userStore.loading = false;
                }
            },
          
            baja(){
                this.userStore.loading = true;
                let id = this.$route.params.id;
                almacenStore.baja(id)
                    .then( () => {
                        this.userStore.loading = false;
                        this.$router.replace({ name: "almacenes", params: {'message' : "Almacen dado de baja exitosamente"} });
                    }, (error) => {
                        this.userStore.loading = false;
						this.message = error;
					});
            },
            closeNotification(){
                this.message = ''
            },
            changePersonal(id){
                this.almacen.idpersonal = id;
            },
            
       
        },
        mounted() {            
            let id = this.$route.params.id;
            let almacenes = this.almacenStore.almacenes;
            function filterItems(almacenes, id) {
                let list = almacenes.filter( (el) => {
                    return el.idalmacen == id;
                });
                return list;
            }

          
            
            let almacen = filterItems(almacenes, id)[0];
            this.almacen.cnombrealmacen = almacen.cnombrealmacen;
            this.almacen.idalmacen = almacen.idalmacen;
            this.almacen.cnombrelocal = almacen.cnombrelocal;
            this.almacen.ccodalmacen = almacen.ccodalmacen;
            this.almacen.cnumtelefono = almacen.cnumtelefono;
            this.almacen.cnombpersona = almacen.cnombpersona;
            this.almacen.idusumod = almacen.idusumod;
            
           

         
        }
	}
</script>
<style lang="scss">
    .btn-danger{
        float: right;
    }
</style>