<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Almacenes</h2>
                    <router-link to="/almacenes/insertar" class="btn btn-primary btn-w-m">Agregar nuevo</router-link>
                </div>
                <div class="col-lg-2">
                    <input type="text" placeholder="Buscar ..." class="form-control search-box" v-model="t_filter">
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <div class="alert alert-success alert-dismissable" v-if="message">
                                    <button aria-hidden="true" @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                    <a class="alert-link" href="#">{{message}}</a>.
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>Codigo</th>
                                            <th>Cliente</th>
                                            <th>Teléfono</th>
                                            <th>Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(almacen, index) in almacen_table" :key="'almacen'+index">
                                            <td>{{index+1}}</td>
                                            <td>{{almacen.cnombrealmacen}}</td>
                                            <td>{{almacen.ccodalmacen}}</td>
                                            <td>{{almacen.cnombpersona}}</td>
                                            <td>{{almacen.cnumtelefono}}</td>
                                            
                                            <td>
                                                <span v-if="almacen.lvigente == true">Habilitado</span>
                                                <span v-if="almacen.lvigente == false">deshabilitado</span>
                                            </td>
                                            <td>
                                                <router-link :to="{path: 'almacenes/editar/'+almacen.idalmacen}"
                                                             class="btn btn-w-m">Editar</router-link>
                                            </td>
                                           
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { almacenStore } from "../../stores/almacenStore.js";
    import { userStore } from "../../stores/userStore.js";
    
	export default {
		name: 'almacenes',
        components: {
            vmenu, vheader
        },
        props: {
            message: ''
        },
		data() {
            return {
                t_filter : '',
                almacen : almacenStore.state,
                userStore: userStore.state
            };
        },
        methods: {
            closeNotification(){
                this.message = ''
            }
        },
        computed: {
            almacen_table: function(){
                function filterItems(almacenes, arg) {
                    return almacenes.filter(function (el) {
                        return el.cnombrealmacen.toUpperCase().includes(arg) ||
                               el.cnombpersona.toUpperCase().includes(arg);
                                
                    });
                }
                return filterItems(this.almacen.almacenes, this.t_filter.toUpperCase());
            }
        },
        mounted() {
            this.userStore.loading = true;
            almacenStore.getAlmacenes().then( ()=> {
                console.log(this.almacen.almacenes);
                this.userStore.loading = false;
            }, () => {
                this.userStore.loading = false;
            });
        },

	}
</script>