<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Adelantos</h2>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                 <!--<div class="date-fecha" style="padding-top: 10px; padding-bottom:10px;">  
                                    <datepicker :value="date"></datepicker>
                                </div>-->
                                <form action="#" @submit.prevent="saveAdelanto()">
                                    <h3>Registrar Adelantos.</h3>
                                    <div class="alert alert-warning alert-dismissable" v-if="message">
                                        <button aria-hidden="true"  @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                        <a class="alert-link" href="#">{{message}}</a>.
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Buscar Personal: </label>
                                        <div class="col-lg-10">
                                            <searchpersonalsueldo @change="changePersonal" ></searchpersonalsueldo>
                                            <div class="error text-danger" v-show="messagePersona">{{messagePersona}}.</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Sueldo (S/.): </label>
                                        <div class="col-lg-5">
                                            <input type="text" name="ade_nmontosueldo" id="" class="form-control" v-model="adelanto.nmontosueldo" disabled >
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Concepto: </label>
                                       
                                        <div class="col-lg-5">
                                            <select name="ade_cconcepto" id="ade_cconcepto" class="col-lg-12 form-control" v-model="adelanto.cconcepto"  required>
                                                <option :value="conce.cconcepto" v-for="(conce, index) in adelantos" :key="'conc'+index">{{conce.cconcepto}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Detalle: </label>
                                        <div class="col-lg-5">
                                            <textarea  @input="$emit('input', $event.target.value)" v-model="adelanto.cdetalle"  rows="5" cols="90" placeholder="Agregue los motivos requeridos..."></textarea>

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Cuanto: </label>
                                        <div class="col-lg-5">
                                            <input type="text" name="ade_nmonto" id="" class="form-control" v-model="adelanto.nmonto" @keyup="validateMonto()" required>
                                            <!--<div class="error text-danger" v-show="correct.exist">*Seleccione primero un personal.</div>-->
                                            <div class="error text-danger" v-show="correct.monto">*El adelanto no debe ser mayor al sueldo.</div>
                                        </div>
                                    </div>
                                
                                    <div class="form-group row">
                                        <i class="col-lg-2"></i>
                                        <div class="col-lg-10">
                                            <button class="btn btn-w-m btn-primary mr10" type="submit">Registrar</button>
                                            <a href="#" class="btn btn-default btn-w-m" @click="$router.go(-1)">Cancelar</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { required, minLength, maxLength, between, integer } from 'vuelidate/lib/validators'
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import searchpersonalsueldo from '@/components/s_personalSueldo.vue'
    import { adelantoStore } from "../../stores/adelantoStore.js";
    import { userStore } from "../../stores/userStore.js";
    import Datepicker from 'vuejs-datepicker';
    import { generalStore } from "../../stores/generalStore.js";
    
	export default {
		name: 'create_adelantos',
        components: {
            vmenu, vheader, searchpersonalsueldo, Datepicker
        },
		data() {
            return {
                adelanto : {
                    idadelanto: '',
                    idpersonal: '',
                    cconcepto: '',
                    cdetalle: '',
                    nmonto: '',
                    nmontosueldo: '',
                    idestado: '',
                    idusureg:''
                },
                sueldo: '',
                perfiles : [],
                message : '',
                messagePersona : '',
                userStore: userStore.state,
                date: new Date(),
                correct : {
                    monto : false,
                    //exist : false

                },
                adelantos: []
            };
        },
        computed: {
       
            
        },
        validations: {


        },
        methods: {
            saveAdelanto(){
                this.$v.$touch();
                this.userStore.loading = true;
                let adelanto = this.adelanto;
                let invalid = false;

                if(this.adelanto.idpersonal == ''){
                    invalid = true;
                    this.messagePersona = "Es necesario seleccionar un personal";
                }

                if (!invalid) {
                  
                    let idusureg = userStore.state.user.idUsuario;                    
                    
                    let idestado = '1';
                    adelantoStore.save(adelanto.idpersonal, adelanto.cconcepto.toUpperCase(), adelanto.cdetalle, 
                            adelanto.nmonto, adelanto.nmontosueldo, idestado, idusureg)
                        .then( () => {
                            this.$router.replace({ name: "adelantos", params: {'message' : "Datos guardados exitosamente"} });
                        }, (error) => {
                            this.message = error;
                            this.userStore.loading = false;
                        });
                } else {
                    this.userStore.loading = false;
                };
            },
   
            changePersonal(dato){
                this.adelanto.idpersonal = dato.split(' ')[0];
                this.adelanto.nmontosueldo = dato.split(' ')[1];
                this.messagePersona = "";
            },

            closeNotification(){
                this.message = ''
            },
            validateMonto(){

                if(this.adelanto.nmontosueldo != ''  || this.adelanto.nmontosueldo != null){
                    //this.correct.exist = false;
                
                    if(parseFloat(this.adelanto.nmontosueldo )> parseFloat(this.adelanto.nmonto)){
                        this.correct.monto = false;
                        
                    }else{
                        this.correct.monto = true;                   
                    }

                }else{
                    //this.correct.exist = true;
                }

               

            }
        },
        mounted() {
            
           generalStore.getConceptos().then( (response) => {
                var adelantos = [];
                this.adelantos = [];
                response.data.forEach(element => {
                    adelantos.push(element);
                });
                this.adelantos = adelantos.filter( el => {
                    return el.idtipoconcepto == '1';
                })
            })

           
           
        }
	}
</script>
<style lang="scss">
    .date-fecha{
        float: right;
    }
</style>