<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Adelantos</h2>
                    <router-link to="/adelantos/insertar" class="btn btn-primary btn-w-m">Agregar nuevo</router-link>
                </div>
                <div class="col-lg-2">
                    <span class="form-control search-box">
                        <label for="month">Filtrar:</label>
                        <select id="month" name="month" v-model="t_filter">
                            <option value="01" >Enero</option>
                            <option value="02" >Febrero</option>
                            <option value="03" >Marzo</option>
                            <option value="04" >Abril</option>
                            <option value="05" >Mayo</option>
                            <option value="06" >Junio</option>
                            <option value="07" >Julio</option>
                            <option value="08" >Agosto</option>
                            <option value="09" >Setiembre</option>
                            <option value="10" >Octubre</option>
                            <option value="11" >Noviembre</option>
                            <option value="12" >Diciembre</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                 <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <div class="alert alert-success alert-dismissable" v-if="message">
                                    <button aria-hidden="true" @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                    <a class="alert-link" href="#">{{message}}</a>.
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>Fecha</th>
                                            <th>Fecha</th>
                                            <th>Monto</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(adelanto, index) in adelanto_table" :key="'adelanto'+index">
                                            <td>{{index+1}}</td>
                                            <td>{{adelanto.cnombpersona}}</td>
                                            <td>{{adelanto.dfechareg | todate}}</td>
                                            <td>{{adelanto.cconcepto}}</td>
                                            <td>{{adelanto.nmonto | tomoney}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { adelantoStore } from "../../stores/adelantoStore.js";
    import { userStore } from "../../stores/userStore.js";
 

	export default {
		name: 'adelantos',
        components: {
            vmenu, vheader 
        },
        props: {
            message: ''
        },
		data() {
            return {
                t_filter : '',
                adelanto : adelantoStore.state,
                userStore: userStore.state,
                date: new Date(),
                annos: [],
            };
        },
      
        methods: {
            closeNotification(){
                this.message = ''
            },
   
        },
        computed: {

            adelanto_table: function(){
                var mes = "-" + this.t_filter + "-"
                function filterItems(adelantos, arg) {
                    return adelantos.filter(function (el) {
                        //Editar
                        
                        console.log(arg);
                        
                        return el.dfechareg.includes(arg);
                    });
                }
                return filterItems(this.adelanto.adelantos, mes);
            },
        },
        mounted() {
            this.userStore.loading = true;
            adelantoStore.getAdelantos().then( ()=> {
                console.log(this.adelanto.adelantos);
                this.userStore.loading = false;
            }, () => {
                this.userStore.loading = false;
            });

            let mes = this.date.getMonth() + 1; 
            let ano = this.date.getFullYear();

            this.annos.push(ano);
            console.log(this.annos);



            
            //get month
            if( this.date.getMonth() < 9 ){
                this.t_filter = "0" + mes;
            }else{
                this.t_filter = mes;
            }

 
            
        },

	}
</script>