<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-8">
                    <h2>Reporte de Entradas</h2>
                    <a to="" class="btn btn-primary btn-w-m" @click="selected()">Filtrar</a>
                </div>
                <div class="dt-filter">
                    <strong>Almacen: </strong>
                    <div class="dtpicker dtpicker-r">

                            <select name="cl_dept" id="cl_dept" class="form-control" v-model="reporte_entrada.idalmacen"  >
                                <option :value="almacen.idalmacen" v-for="(almacen, index) in almacenes" :key="'al'+index">{{almacen.cnombrealmacen}}</option>
                            </select>
                     
                    </div>

                    <strong>Filtrar: </strong>
                    <datepicker :minimumView="'day'"  :maximumView="'year'" 
                                :initialView="'day'" :language="es" placeholder="Fecha inicio"
                                format="dd MMM yyyy" class="dtpicker dtpicker-r" v-model="reporte_entrada.min" >
                    </datepicker>
                    -
                    <datepicker :minimumView="'day'"  :maximumView="'year'" 
                                :initialView="'day'" :language="es" placeholder="Fecha final"
                                format="dd MMM yyyy" class="dtpicker dtpicker-r" v-model="reporte_entrada.max" >
                    </datepicker>
                    
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content table-responsive">
                                <div class="alert alert-success alert-dismissable" v-if="message">
                                    <button aria-hidden="true" @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                    <a class="alert-link" href="#">{{message}}</a>.
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Codigo</th>
                                            <th>Producto</th>
                                            <th>Almacen</th>
                                            <th>Peso bruto</th>
                                            <th>Peso neto</th>
                                            <th>Precio base</th>
                                            <th>Peso venta</th>
                                            <th>U.N.</th>
                                            <th>Totales (S/.)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(reporte_entrada, index) in reporte_entrada_table" :key="'reporte_entrada'+index">
                                            <td>{{index+1}}</td>
                                            <td>{{reporte_entrada.ccodproducto}}</td>
                                            <td>{{reporte_entrada.cnombproducto}}</td>
                                            <td>{{reporte_entrada.cnombrealmacen}}</td>
                                            <td>{{reporte_entrada.npesobruto}}</td>
                                            <td>{{reporte_entrada.npesoneto}}</td>
                                            <td>{{reporte_entrada.npreciobase | tomoney}}</td>
                                            <td>{{reporte_entrada.nprecioventa | tomoney}}</td>
                                            <td>{{reporte_entrada.cunidad}}</td>
                                            <td>{{ 0 }}</td>

                                        </tr>
                                      

                                    </tbody>
                                    <a :href="this.reporte_entradaStore.uri" @click="reporte()" target="blank">Emitir reporte</a> 
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { reporte_entradaStore } from "../../stores/reporte_entradaStore.js";
    import { userStore } from "../../stores/userStore.js";
     import { generalStore } from "../../stores/generalStore.js";
    import Datepicker from 'vuejs-datepicker';
    import { es } from 'vuejs-datepicker/dist/locale'
    
    
	export default {
		name: 'reporte_entradas',
        components: {
            vmenu, vheader, Datepicker
        },
        props: {
            message: ''
        },
		data() {
            return {
                t_filter : '',
                reporte_entradaStore : reporte_entradaStore.state,
                userStore: userStore.state,
                es: es,
                filter: {
                    min : '',
                    max : ''
                },
                almacenes: [],
                reporte_entrada: {
                    idalmacen: '',
                    min: '',
                    max: '',
                    
                },
                uri: ''
            };
        },
        methods: {
            closeNotification(){
                this.message = ''
            },
            selected() {   
                
                if(this.reporte_entrada.min != null && this.reporte_entrada.min != '' ){
                    if (this.reporte_entrada.min != null && this.reporte_entrada.min != '' ) {
                        if (this.reporte_entrada.idalmacen != null &&  this.reporte_entrada.idalmacen != '') {
                            this.userStore.loading = true;
                            
                            let fecha_inicio = this.reporte_entrada.min.toLocaleDateString();
                            let fecha_final = this.reporte_entrada.max.toLocaleDateString();
                            let idalmacen = this.reporte_entrada.idalmacen;
                            reporte_entradaStore.getReporte_entrada(this.reformatDateString(fecha_inicio), this.reformatDateString(fecha_final), idalmacen).then( ()=> {

                                this.userStore.loading = false;
                            }, () => {
                                this.userStore.loading = false;
                            });
                        }
                    }

                }

            },
            reporte(){
                
               
                if(this.reporte_entrada.min != null && this.reporte_entrada.min != '' ){
                    if (this.reporte_entrada.min != null && this.reporte_entrada.min != '' ) {
                        if (this.reporte_entrada.idalmacen != null &&  this.reporte_entrada.idalmacen != '') {
                            this.userStore.loading = false;
                            
                            let fecha_inicio = this.reporte_entrada.min.toLocaleDateString();
                            let fecha_final = this.reporte_entrada.max.toLocaleDateString();
                            let idalmacen = this.reporte_entrada.idalmacen;
                             reporte_entradaStore.getReporte(this.reformatDateString(fecha_inicio), this.reformatDateString(fecha_final), idalmacen).then( ()=> {

                                this.userStore.loading = false;
                            }, () => {
                                this.userStore.loading = false;
                            });
                        }
                    }

                }
               
                
            },
            reformatDateString(fecha){

                if(fecha != null && fecha != ""){
                    let y = fecha.toString();
                    let x = y.replace("/", "-");
                    x = x.replace("/", "-");

                    var b = x.split(/\D/);
                    var nueva_fecha =  b.reverse().join('-');

                    return nueva_fecha;    
                }

                

            },
        },
        computed: {
            reporte_entrada_table: function(){
                function filterItems(reporte_entradas, arg) {
                    
                    return reporte_entradas.filter(function (el) {
                        
                        return el
                               
                    });
                }
                return filterItems(this.reporte_entradaStore.reporte_entradas, this.t_filter.toUpperCase());
            },
            minDate: function(){
                return (new Date(this.filter.min).toISOString()).substring(0,10);
            },
            maxDate: function(){
                var selected = new Date(this.filter.max);
                var next = new Date(selected.setMonth(selected.getMonth()+1));
                return next.toISOString().substring(0,10);
            }
        },
        mounted() {
        

            generalStore.getAlmacenes().then( (response) => {
                this.almacenes = [];
                response.data.forEach(element => {
                    this.almacenes.push(element);
                });
            });
        },

	}
</script>

<style lang="scss">
    .dtpicker{
        margin: 25px 5px 0;
        text-align: center;
        display: inline-block;
        input{
            text-align: center;
            background-color: #FFFFFF;
            background-image: none;
            border: 1px solid #e5e6e7;
            border-radius: 1px;
            color: inherit;
            padding: 0px 0px;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
            width: 100px;
        }
        &.dtpicker-r{
            .vdp-datepicker__calendar{
                right: 0;
            }
        }
    }
    .dt-filter{
        position: absolute;
        right: 20px;
    }
    @media screen and (max-width: 480px){
        .dt-filter{
            position: relative;
            width: 100%;
            text-align: left;
            right: 0;
            left: 20px;
        }
    }
</style>