<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Certificaciones</h2>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <form action="#" @submit.prevent="saveCertificacion()">
                                    <h3>Registrar Certificación.</h3>
                                    <div class="alert alert-success alert-dismissable" v-if="message">
                                        <button aria-hidden="true"  @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                        <a class="alert-link" href="#">{{message}}</a>.
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Buscar Proveedor: </label>
                                        <div class="col-lg-10">
                                            <searchproveedor @change="changePersonal" ></searchproveedor>
                                            <div class="error text-danger" v-show="messageProv">{{messageProv}}.</div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Descripción: </label>
                                        <div class="col-lg-10">
                                            <select name="ce_descripcion" id="ce_descrip" class="col-lg-12 form-control" v-model="certificacion.idcertificado" required>
                                                <!--<option :value="0" >Seleccionar</option>-->
                                                <option :value="descripcion.idcertificado" v-for="(descripcion, index) in descripciones" :key="index">{{descripcion.descripcion}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Tope (kg): </label>
                                        <div class="col-lg-5">
                                            <input type="number" min="1" step="0.01" name="ce_topekilos" id="" class="form-control" v-model="certificacion.topekilos" required>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <i class="col-lg-2"></i>
                                        <div class="col-lg-10">
                                            <button class="btn btn-w-m btn-primary mr10" type="submit">Registrar</button>
                                            <a href="#" class="btn btn-default btn-w-m" @click="$router.go(-1)">Cancelar</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { required, minLength, maxLength, between, integer } from 'vuelidate/lib/validators'
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import searchproveedor from '@/components/s_proveedores.vue'
    import { certificacionStore } from "../../stores/certificacionStore.js";
    import { userStore } from "../../stores/userStore.js";
    import { generalStore } from "../../stores/generalStore.js";

   
    
	export default {
		name: 'create_certificacion',
        components: {
            vmenu, vheader, searchproveedor
        },
		data() {
            return {
                certificacion : {
                    idcertproveedor: '',
                    idcertificado: '',
                    descripcion: '',
                    topekilos: '',
                    idcliente: '',
                    idusureg: ''
                },
                descripciones : [],
                message : '',
                messageProv : '',
                certificacionStore : certificacionStore.state,
                userStore: userStore.state
            };
        },
        computed: {
            
        },
        validations: {
   
        },
        methods: {
            saveCertificacion(){
                this.$v.$touch();
                this.userStore.loading = true;
                let certificacion  = this.certificacion;
                let invalid = false;

                if(this.certificacion.idcliente == ''){
                    invalid = true;
                    this.messageProv = "Debe de seleccionar un proveedor";
                }

                if (!invalid) {
                  
                    let idusureg = userStore.state.user.idUsuario;
                    
                    certificacionStore.save(certificacion.idcertificado, certificacion.idcliente, certificacion.topekilos, idusureg)
                        .then( () => {
                            this.$router.replace({ name: "certificaciones", params: {'message' : "Datos guardados exitosamente"} });
                        }, (error) => {
                            this.message = error;
                            this.userStore.loading = false;
                        });
                } else {
                    this.userStore.loading = false;
                };
            },
         
            changePersonal(id){
                this.certificacion.idcliente = id;
                this.messageProv = "";
            },

            closeNotification(){
                this.message = ''
            }
        },
        mounted() {    
            
             generalStore.getCertificacion().then( (response) => {
                this.descripciones = [];
                
                response.data.forEach(element => {
                    this.descripciones.push(element);
                });
            });
           
        }
	}
</script>