<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
               <div class="col-lg-10">
                    <h2>Certificaciones</h2>
                    <router-link to="/certificaciones/insertar" class="btn btn-primary btn-w-m">Agregar nuevo</router-link>
                </div>
                <div class="col-lg-2" style>
                    <input type="text" placeholder="Buscar ..." class="form-control search-box" v-model="t_filter">
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                 <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <div class="alert alert-success alert-dismissable" v-if="message">
                                    <button aria-hidden="true" @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                    <a class="alert-link" href="#">{{message}}</a>.
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Descripción</th>
                                            <th>Tope ( kilos )</th>
                                            <th>Proveedor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(certificacion, index) in certificacion_table" :key="'certificacion'+index">
                                            <td>{{index+1}}</td>
                                            <td>{{certificacion.descripcion}}</td>
                                            <td>{{certificacion.topekilos}}</td>
                                            <td>{{certificacion.cnombpersona}}</td>
                                            
                                            <td>
                                                <router-link :to="{path: 'certificaciones/editar/'+certificacion.idcertproveedor}" 
                                                             class="btn btn-w-m">Editar</router-link>
                                            </td>
                                            <td>
                                                <router-link :to="{path: 'certificaciones/ver/'+certificacion.idcertproveedor}"
                                                             class="btn btn-w-m">Ver</router-link>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { certificacionStore } from "../../stores/certificacionStore.js";
    import { userStore } from "../../stores/userStore.js";
    
	export default {
		name: 'certificaciones',
        components: {
            vmenu, vheader
        },
        props: {
            message: ''
        },
		data() {
            return {
                t_filter : '',
                certificacion : certificacionStore.state,
                userStore: userStore.state
            };
        },
        methods: {
            closeNotification(){
                this.message = ''
            }
        },
        computed: {
            certificacion_table: function(){
                function filterItems(certificaciones, arg) {
                    return certificaciones.filter(function (el) {

                        return el.cnombpersona.includes(arg) || el.descripcion.includes(arg);

                    });
                }
       
                return filterItems(this.certificacion.certificaciones, this.t_filter.toUpperCase());

            }

        },
        mounted() {
            this.userStore.loading = true;
            certificacionStore.getCertificaciones().then( ()=> {
                
                console.log(this.certificacion.certificaciones);
                this.userStore.loading = false;
            }, () => {
                this.userStore.loading = false;
            });
        },

	}
</script>