<template>
	<div id="wrapper">
        
        <vmenu></vmenu>
        
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Certificaciones</h2>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <a @click="$router.go(-1)" class="btn-outline btn-default btn">&#60;&#60; Regresar a listado</a>
                                <br><br>
                                <div>
                                    <h3>Datos de la certificación.</h3>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Descripción: </label>
                                        <div class="col-lg-5 col-form-label">
                                                <span>{{certificacion[0].descripcion}}</span>
                                            </div>    
                                    </div> 
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Tope (kg): </label>
                                        <div class="col-lg-3 col-form-label">
                                            <span>{{certificacion[0].topekilos }}</span>
                                        </div>
                                    </div>
                                    <template >
                                        <h3>Dato del Proveedor</h3>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Proveedor: </label>
                                            <div class="col-lg-3 col-form-label">
                                                <span>{{ certificacion[0].cnombpersona }}</span>
                                            </div>
                                        </div>
                                        
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { certificacionStore } from "../../stores/certificacionStore.js";
    
	export default {
		name: 'show_certificaciones',
        components: {
            vmenu, vheader
        },
		data() {
            return {               
                certificacionStore : certificacionStore.state
            };
        },
        methods: {

        },
        computed: {
            certificacion: function(){
                let id = this.$route.params.id;
                let certificaciones = this.certificacionStore.certificaciones;
                function filterItems(certificaciones, id) {
                    return certificaciones.filter( (el) => {
                        return el.idcertproveedor== id;
                    })
                }
                return filterItems(certificaciones, id);
            }
        },

	}
</script>
<style lang="scss">
    .col-form-label span{
        display: inline-block;
    }
    .form-group {
        margin-bottom: .5rem;
    }
</style>