<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Proveedores</h2>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                
                                <form action="#" @submit.prevent="editProveedor()"> 
                                    <h3>Editar Proveedor.</h3>
                                    <div class="alert alert-warning alert-dismissable" v-if="message">
                                        <button aria-hidden="true"  @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                        <a class="alert-link" href="#">{{message}}</a>.
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Proveedor: </label>
                                        <div class="col-lg-5">
                                            <input type="text" name="pro_cnombpersona" id="" class="form-control" v-model="proveedor.cnombpersona" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Fecha de reg.: </label>
                                        <div class="col-lg-5" >
                                            <input type="text" name="pro_dfecharegb" id="" class="form-control"  v-model="proveedor.dfechareg" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Monto max.: </label>
                                        <div class="col-lg-5">
                                            <input type="number" step="0.01" name="pro_monto" id="" class="form-control" v-model="proveedor.n_montomaximo" >
                                        </div>
                                    </div>
                                   
                               
                                    <br>
                                    <template >
                                        <h3>Asignar monto</h3>

                                    </template>
                                    <div class="form-group row">
                                        <i class="col-lg-2"></i>
                                        <div class="col-lg-10">
                                            <button class="btn btn-w-m btn-primary mr10" type="submit">Asignar</button>
                                            <a href="#" class="btn btn-default btn-w-m" @click="$router.go(-1)">Cancelar</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</template>

<script>
    import { required, minLength, maxLength, between, integer } from 'vuelidate/lib/validators'
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { proveedorStore } from "../../stores/proveedorStore.js";
    import { userStore } from "../../stores/userStore.js";


	export default {
		name: 'edit_proveedores',
        components: {
            vmenu, vheader
        },
		data() {
            return {
                proveedor : {  
                    idcliente: '',
                    cnombpersona: '',
                    dfechamod: '',
                    n_montomaximo: ''
                },
                message : '',
                proveedorStore : proveedorStore.state,
                userStore: userStore.state,
                datos: [],
                monto: []
            };
        },
        computed: {
           
        },
        validations: {

        },
        methods: {
            editProveedor(){
                //loading
                this.$v.$touch();
                this.userStore.loading = true;
                let proveedor = this.proveedor;
                let invalid = false;
              

                if (!invalid) {
                    
                    let idusureg = userStore.state.user.idUsuario;

                    console.log(proveedor);
                   
                    proveedorStore.edit( proveedor.idcliente, proveedor.n_montomaximo, idusureg)
                        .then( ( response ) => {
                            this.datos = [];
                            response.data.forEach(element => {
                                this.datos.push(element);
                            });
                            
                            this.$router.replace({ name: "proveedores", params: {'message' : this.datos[0].asignar_monto_max } });

                        }, (error) => {
                            this.userStore.loading = false;
                            this.message = error;
                        });
                } else {
                    this.userStore.loading = false;
                }
            },
            
         
            closeNotification(){
                this.message = ''
            },
        },
        mounted() {            
            let id = this.$route.params.id;
            let proveedores = this.proveedorStore.proveedores;
            function filterItems(proveedores, id) {
                let list = proveedores.filter( (el) => {
                    return el.idcliente == id;
                })

                return list;
            }
            

            
            let proveedor = filterItems(proveedores, id)[0];
            //this.proveedor.idmantproveedor = proveedor.idmantproveedor;
            this.proveedor.idcliente = proveedor.idcliente;
            this.proveedor.cnombpersona = proveedor.cnombpersona;
            this.proveedor.dfechareg = proveedor.dfechareg;
            this.proveedor.n_montomaximo = proveedor.monto;

            this.userStore.loading = true;
            
            proveedorStore.getProveedorMonto(this.proveedor.idcliente).then( (response)=> {
                this.monto = [];
                 this.userStore.loading = false;
   
                if (response.tolal != 0) {
                    response.data.forEach(element => {
                    this.monto.push(element);
                       
                        this.proveedor.n_montomaximo = this.monto[0].nmontomaximo;
                    });
                   
                        
                    
                }
                
                
                this.userStore.loading = false;
            }, () => {
                this.userStore.loading = false;
            });
        }
	}
</script>
<style lang="scss">
    .btn-danger{
        float: right;
    }
</style>