<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
               <div class="col-lg-10">
                    <h2>Proveedores</h2>
                    
                </div>
                <div class="col-lg-2" style>
                    <input type="text" placeholder="Buscar ..." class="form-control search-box" v-model="t_filter">
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                 <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <div class="alert alert-success alert-dismissable" v-if="message">
                                    <button aria-hidden="true" @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                    <a class="alert-link" href="#">{{message}}</a>.
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>Fecha</th>
                                            <th>Estado</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(proveedor, index) in proveedor_table" :key="'proveedor'+index">
                                            <td>{{index+1}}</td>
                                            <td>{{proveedor.cnombpersona}}</td>
                                            <td>{{proveedor.dfechareg | todate }}</td>
                                            <td v-if="proveedor.lvigente == true">Habilitado</td>
                                            <td v-if="proveedor.lvigente == false">Deshabilitado</td>
                                            
                                            <td>
                                                <router-link :to="{path: 'proveedores/editar/'+proveedor.idcliente}" 
                                                             class="btn btn-w-m"  > Editar</router-link>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { proveedorStore } from "../../stores/proveedorStore.js";
    import { userStore } from "../../stores/userStore.js";
    
	export default {
		name: 'proveedores',
        components: {
            vmenu, vheader
        },
        props: {
            message: ''
        },
		data() {
            return {
                t_filter : '',
                proveedor : proveedorStore.state,
                //proveedorMont : proveedorStore.state,
                userStore: userStore.state
            };
        },
        methods: {
            closeNotification(){
                this.message = ''
            },
           
        },
        computed: {
            
            proveedor_table: function(){

              
                function filterItems(proveedores, key, value, arg) {
                    return proveedores.filter(function (el) {
                        
                        //return el.cnombpersona.includes(arg);
                       
                        
                        return el[key]!=(value) && el.cnombpersona.includes(arg); 

                    });
                }
                return filterItems((this.proveedor.proveedores), "departamento",  null, this.t_filter.toUpperCase());



               /* function getFilteredByKey(array, key, value) {
                return array.filter(function(e) {
                    return e[key] == value;
                });



                 var filteredProducts = getFilteredByKey(this.proveedor.proveedores, "departamento", null);
                    console.log(filteredProducts);

                */    
            }
        },
        mounted() {
            this.userStore.loading = true;
            proveedorStore.getProveedores().then( ()=> {
                console.log(this.proveedor.proveedores);    
                this.userStore.loading = false;
            }, () => {
                this.userStore.loading = false;
            });

           
           /* proveedorStore.getProveedorMonto().then( ()=> {
                //console.log(this.proveedorMont.proveedorMontos);
                
            }, () => {
                
            });*/
        },

	}
</script>