<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-8">
                    <h2>Pago nuevo</h2>
                    <a href="#" class="btn btn-primary btn-w-" @click="pagar()">Ejecutar pago</a>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content table-responsive">
                                <a @click="$router.go(-1)" class="btn-outline btn-default btn">&#60;&#60; Regresar a listado</a>
                                <br><br>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Personal</th>
                                            <th>Adelanto</th>
                                            <th>Descuento</th>
                                            <th>Sueldo</th>
                                            <th>Monto pagado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(personal, index) in personals" :key="'personal'+index">
                                            <td>{{index+1}}</td>
                                            <td>{{personal.cnombpersona}}</td>
                                            <td>{{personal.totaladelanto | tomoney}}</td>
                                            <td>{{personal.totaldescuento | tomoney}}</td>
                                            <td>{{personal.nmontosueldo | tomoney}}</td>
                                            <td>{{personal.nmontopago | tomoney}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { userStore } from "../../stores/userStore.js";
    import { pagoStore } from "../../stores/pagoStore.js";
    
	export default {
		name: 'create_pagos',
        components: {
            vmenu, vheader
        },
        props: {
            message: ''
        },
		data() {
            return {
                personals : [],
                userStore: userStore.state
            };
        },
        methods: {
            pagar(){
                this.userStore.loading = true;
                let idusureg = userStore.state.user.idUsuario;
                pagoStore.pagar(idusureg)
                    .then( () => {
                        this.$router.replace({ name: "pagos", params: {'message' : "Datos guardados exitosamente"} });
                    }, (error) => {
                        this.message = error;
                        this.userStore.loading = false;
                    });
            },
        },
        computed: {
        },
        mounted() {
            this.userStore.loading = true;
            pagoStore.getPagoNow().then( (response)=> {
                response.data.forEach(element => {
                    this.personals.push(element);
                });
                this.userStore.loading = false;
            }, () => {
                this.userStore.loading = false;
            });
        },

	}
</script>

<style lang="scss">

</style>