<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-8">
                    <h2>Pagos</h2>
                    <!-- <router-link to="/pagos/insertar" class="btn btn-primary btn-w-m">Pagar ahora</router-link> -->
                    <a href="#" class="btn btn-primary btn-w-m" @click="pagar">Pagar ahora</a>
                </div>
                <div class="dt-filter">
                    <strong>Filtrar: </strong>
                    <datepicker :minimumView="'month'" :maximumView="'year'" 
                                :initialView="'month'" :language="es" placeholder="Fecha inicio"
                                format="MMM yyyy" class="dtpicker dtpicker-r" v-model="filter.min">
                    </datepicker>
                    -
                    <datepicker :minimumView="'month'" :maximumView="'year'" 
                                :initialView="'month'" :language="es" placeholder="Fecha final"
                                format="MMM yyyy" class="dtpicker dtpicker-r" v-model="filter.max">
                    </datepicker>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content table-responsive">
                                <div class="alert alert-success alert-dismissable" v-if="message">
                                    <button aria-hidden="true" @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                    <a class="alert-link" href="#">{{message}}</a>.
                                </div>
                                <div class="alert alert-warning alert-dismissable" v-if="message_d">
                                    <button aria-hidden="true" @click="closeNotification2()" data-dismiss="alert" class="close" type="button">×</button>
                                    <a class="alert-link" href="#">{{message_d}}</a>.
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Fecha de pago</th>
                                           <!--  <th>Empleados</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(pago, index) in pagos" :key="'pago'+index">
                                            <td>{{index+1}}</td>
                                            <td>{{pago.mes + ' ' + pago.anno}}</td>
                                            <!-- <td>{{index*13}} Empleados</td> -->
                                            <td class="text-center">
                                                <router-link :to="{path: 'pagos/ver/'+pago.idpago}"
                                                             class="btn">Ver detalle</router-link>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { personalStore } from "../../stores/personalStore.js";
    import { userStore } from "../../stores/userStore.js";
    import { pagoStore } from "../../stores/pagoStore.js";
    import { es } from 'vuejs-datepicker/dist/locale'
    import Datepicker from 'vuejs-datepicker';
    
	export default {
		name: 'pagos',
        components: {
            vmenu, vheader, Datepicker
        },
        props: {
            },
		data() {
            return {
                t_filter : '',
                personalSt : personalStore.state,
                userStore: userStore.state,
                pagos: [],
                es: es,
                filter: {
                    min : '',
                    max : ''
                },
                message: '',
                message_d : ''
            };
        },
        methods: {
            closeNotification(){
                this.message = ''
            },
            closeNotification2(){
                this.message_d = ''
            },
            pagar(){
                this.userStore.loading = true;
                let idusureg = userStore.state.user.idUsuario;
                
                pagoStore.pagar(idusureg).then( (response)=> {
                    debugger;
                    if(response.data[0].estado_de_pago){
                        this.message = "Pagos registrados exitosamente";
                        this.message_d = '';
                        this.obtenerPago();
                    } else {
                        this.message_d = "Este mes ya cuenta con pagos realizados";
                        this.message = '';
                    }
                    this.userStore.loading = false;
                }, () => {
                    this.userStore.loading = false;
                });
            },
            obtenerPago(){
                this.userStore.loading = true;
                this.pagos = [];
                pagoStore.getPagoList().then( (response)=> {
                    response.data.forEach(element => {
                        this.pagos.push(element);
                    });
                    this.userStore.loading = false;
                }, () => {
                    this.userStore.loading = false;
                });
            }
        },
        computed: {
            personal_table: function(){
                function filterItems(personals, arg) {
                    return personals.filter(function (el) {
                        return el.cnombpersona.toUpperCase().includes(arg) || 
                               el.cnumdoc.toUpperCase().includes(arg) || 
                               el.cnombrelocal.toUpperCase().includes(arg);
                    });
                }
                return filterItems(this.personalSt.personals, this.t_filter.toUpperCase());
            },
            minDate: function(){
                return (new Date(this.filter.min).toISOString()).substring(0,10);
            },
            maxDate: function(){
                var selected = new Date(this.filter.max);
                var next = new Date(selected.setMonth(selected.getMonth()+1));
                return next.toISOString().substring(0,10);
            }
        },
        mounted() {
            this.obtenerPago();
        },

	}
</script>

<style lang="scss">
    .dtpicker{
        margin: 20px 5px 0;
        text-align: center;
        display: inline-block;
        input{
            text-align: center;
            background-color: #FFFFFF;
            background-image: none;
            border: 1px solid #e5e6e7;
            border-radius: 1px;
            color: inherit;
            padding: 6px 12px;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
            width: 100px;
        }
        &.dtpicker-r{
            .vdp-datepicker__calendar{
                right: 0;
            }
        }
    }
    .dt-filter{
        position: absolute;
        right: 20px;
    }
    @media screen and (max-width: 480px){
        .dt-filter{
            position: relative;
            width: 100%;
            text-align: left;
            right: 0;
            left: 20px;
        }
    }
</style>