<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-8">
                    <h2>Pago {{pago.dfechapago | todate}}</h2>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content table-responsive">
                                <a @click="$router.go(-1)" class="btn-outline btn-default btn">&#60;&#60; Regresar a listado</a>
                                <br><br>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Personal</th>
                                            <th>Adelanto</th>
                                            <th>Descuento</th>
                                            <!-- <th>Sueldo</th> -->
                                            <th>Monto pagado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(pago, index) in pagos" :key="'pago_'+index">
                                            <td>{{index+1}}</td>
                                            <td>{{pago.cnombpersona}}</td>
                                            <td>{{pago.adelanto | tomoney}}</td>
                                            <td>{{pago.descuento | tomoney}}</td>
                                            <!-- <td>S/. {{index*45}}</td> -->
                                            <td>{{pago.nmontopago | tomoney}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { personalStore } from "../../stores/personalStore.js";
    import { userStore } from "../../stores/userStore.js";
    import { pagoStore } from "../../stores/pagoStore.js";
    
	export default {
		name: 'show_pagos',
        components: {
            vmenu, vheader
        },
        props: {
            message: ''
        },
		data() {
            return {
                pagoStore : pagoStore.state,
                userStore: userStore.state,
                pagos: [],
                pago: {}
            };
        },
        methods: {
        },
        computed: {
        },
        mounted() {
            this.userStore.loading = true;
            let id = this.$route.params.id;
            pagoStore.state.pagos.forEach( el => {
                if(el.idpago == id)
                    this.pago = el;
            })
            pagoStore.getPagoDate(id).then( (response)=> {
                response.data.forEach(element => {
                    this.pagos.push(element);
                });
                this.userStore.loading = false;
            }, () => {
                this.userStore.loading = false;
            });
        },

	}
</script>

<style lang="scss">

</style>