<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Personal</h2>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <form action="#" @submit.prevent="savePersonal()">
                                    <h3>Registrar personal</h3>
                                    <!-- <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Email</label>
                                        <div class="col-lg-10">
                                            <input type="email" placeholder="Email" class="form-control">
                                            <span class="form-text m-b-none">Example block-level help text here.</span>
                                        </div>
                                    </div> -->
                                    <div class="alert alert-warning alert-dismissable" v-if="message">
                                        <button aria-hidden="true"  @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                        <a class="alert-link" href="#">{{message}}</a>.
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Cliente: </label>
                                        <div class="col-lg-10">
                                            <searchcliente @change="changeCliente"></searchcliente>
                                            <div class="text-danger" v-show="!valCliente">Seleccionar un cliente es requerido.</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Local: </label>
                                        <div class="col-lg-10">
                                            <select name="" id="" class="form-control" v-model="personal.idlocal">
                                                <option :value="local.idlocal" v-for="(local, index) in locales" :key="'local_'+index">{{local.cnombrelocal}}</option>
                                            </select>
                                            <div class="text-danger" v-show="!$v.personal.idlocal.required">Seleccionar un local es requerido.</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Cargo: </label>
                                        <div class="col-lg-10">
                                            <select name="" id="" class="form-control" v-model="personal.idcargo">
                                                <option :value="cargo.idcargo" v-for="(cargo, index) in cargos" :key="'cargo_'+index">{{cargo.cdesccargo}}</option>
                                            </select>
                                            <div class="text-danger" v-show="!$v.personal.idcargo.required">Seleccionar un cargo es requerido.</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Fecha de inicio: </label>
                                        <div class="col-lg-5">
                                            <input type="date" name="cnumdoc_dni" class="form-control" v-model="personal.dfechainilabores" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Monto de pago: </label>
                                        <div class="col-lg-5">
                                            <input type="number" name="cl_cnumcel" step="0.01" id="" class="form-control" v-model="personal.nmontosueldo" required>
                                            <div class="text-danger" v-show="!$v.personal.nmontosueldo.minValue">Deberia de ser mayor que cero.</div>
                                            <div class="text-danger" v-show="!$v.personal.nmontosueldo.decimal">Debe de ingresar solo numeros.</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">En Planilla: </label>
                                        <div class="col-lg-5 form-radio">
                                            <input type="checkbox" name="cl_proveedor" id="" class="" v-model="personal.lplanilla">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Estado: </label>
                                        <div class="col-lg-5">
                                            <div class="form-radio" style="margin-top: 7px">
                                                <input type="checkbox" name="c_tp_j" id="c_tp_j" v-model="personal.idestado">
                                                <label for="c_tp_j"> Activo</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <i class="col-lg-2"></i>
                                        <div class="col-lg-10">
                                            <button class="btn btn-w-m btn-primary mr10" type="submit">Registrar</button>
                                            <a href="#" class="btn btn-default btn-w-m" @click="$router.go(-1)">Cancelar</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { required, minLength, maxLength, decimal, minValue } from 'vuelidate/lib/validators'
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import searchcliente from '@/components/s_clientes.vue'
    import { personalStore } from "../../stores/personalStore.js";
    import { userStore } from "../../stores/userStore.js";
    import { generalStore } from "../../stores/generalStore.js";
    
    
	export default {
		name: 'create_personal',
        components: {
            vmenu, vheader, searchcliente
        },
		data() {
            return {
                personal_data : personalStore.state,    
                personal : {
                    idlocal: '1',
                    idcargo: '1',
                    dfechainilabores: '',
                    nmontosueldo: '',
                    lplanilla: '',
                    idestado: true
                },
                locales : [],
                cargos : [],
                filterClient : '',
                message : '',
                userStore: userStore.state,
                valCliente: true
            };
        },
        computed: {
        },
        validations: {
            personal: {
                idlocal : {
                    required
                },
                idcargo : {
                    required
                },                
                nmontosueldo :{
                    decimal,
                    minValue: minValue(0)
                }
            }
        },
        methods: {
            savePersonal(){


                console.log(this.personal_data.personals)
                var verificar = false;
                for (let i = 0; i < this.personal_data.personals.length; i++) {
                    
                    if (this.personal_data.personals!=null) {
                        if(this.personal_data.personals[i].idcliente!=this.personal.idcliente){
                            verificar = false;
                        }else{
                            verificar = true;
                            break;
                        }
                    }
                    
                    
                }  
                if (verificar==false) {
                    this.userStore.loading = true;
                    let personal = this.personal;
                    let idusureg = userStore.state.user.idUsuario;
                    if(!this.personal.idcliente){
                        this.valCliente = false;
                        this.userStore.loading = false;
                    } else {
                        let estado = '';
                        if(personal.idestado == true){ estado = 1; }
                        else { estado = 2;}
                        personalStore.save(personal.idcliente, personal.idlocal, personal.idcargo, 
                                estado, personal.dfechainilabores, personal.nmontosueldo,
                                personal.lplanilla, idusureg)
                            .then( () => {
                                this.$router.replace({ name: "mant_personal", params: {'message' : "Datos guardados exitosamente"} });
                            }, (error) => {
                                this.message = error;
                                this.userStore.loading = false;
                            });
                    }

                }else{
                     this.message = "Cliente ya registrado.";
                     this.userStore.loading = false;
                }
                
                


            },
            closeNotification(){
                this.message = ''
            },
            changeCliente(id){
                this.personal.idcliente = id;
            }
        },
        mounted() {
            this.userStore.loading = true;
            generalStore.getLocales().then( (response)=> {
                this.locales = [];
                response.data.forEach(element => {
                    this.locales.push(element);
                });
                this.userStore.loading = false;
            }, () => {
                this.userStore.loading = false;
            });

            generalStore.getCargos().then( (response)=> {
                this.cargos = [];
                response.data.forEach(element => {
                    this.cargos.push(element);
                });
                this.userStore.loading = false;
            }, () => {
                this.userStore.loading = false;
            });

            personalStore.getPersonal().then( ()=> {    
                this.userStore.loading = false;
            }, () => {
                this.userStore.loading = false;
            });
        }
	}
</script>