<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Personal</h2>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <a href="#" class="btn btn-danger btn-outline baja" @click.prevent="baja()">
                                    <i class="fa fa-trash"></i>
                                    Dar de baja
                                </a>
                                <form action="#" @submit.prevent="editPersonal()">
                                    <h3>Editar personal</h3>
                                    <!-- <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Email</label>
                                        <div class="col-lg-10">
                                            <input type="email" placeholder="Email" class="form-control">
                                            <span class="form-text m-b-none">Example block-level help text here.</span>
                                        </div>
                                    </div> -->
                                    <div class="alert alert-warning alert-dismissable" v-if="message">
                                        <button aria-hidden="true"  @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                        <a class="alert-link" href="#">{{message}}</a>.
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Cliente: </label>
                                        <div class="col-lg-8">
                                            <searchcliente @change="changeCliente" :id_campo="personal.idcliente"></searchcliente>
                                            <div class="text-danger" v-show="!valCliente">Seleccionar un cliente es requerido.</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Local: </label>
                                        <div class="col-lg-8">
                                            <select name="" id="" class="form-control" v-model="personal.idlocal">
                                                <option :value="local.idlocal" v-for="(local, index) in locales" :key="'local_'+index">{{local.cnombrelocal}}</option>
                                            </select>
                                            <div class="text-danger" v-show="!$v.personal.idlocal.required">Seleccionar un local es requerido.</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Cargo: </label>
                                        <div class="col-lg-8">
                                            <select name="" id="" class="form-control" v-model="personal.idcargo">
                                                <option :value="cargo.idcargo" v-for="(cargo, index) in cargos" :key="'cargo_'+index">{{cargo.cdesccargo}}</option>
                                            </select>
                                            <div class="text-danger" v-show="!$v.personal.idcargo.required">Seleccionar un cargo es requerido.</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Fecha de inicio: </label>
                                        <div class="col-lg-5">
                                            <input type="date" name="cnumdoc_dni" class="form-control" v-model="personal.dfechainilabores" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Monto de pago: </label>
                                        <div class="col-lg-5">
                                            <input type="number" name="cl_cnumcel" step="0.01" id="" class="form-control" v-model="personal.nmontosueldo" required>
                                            <div class="text-danger" v-show="!$v.personal.nmontosueldo.minValue">Deberia de ser mayor que cero.</div>
                                            <div class="text-danger" v-show="!$v.personal.nmontosueldo.decimal">Debe de ingresar solo numeros.</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">En Planilla: </label>
                                        <div class="col-lg-5 form-radio">
                                            <input type="checkbox" name="cl_proveedor" id="" class="" v-model="personal.lplanilla">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Estado: </label>
                                        <div class="col-lg-5">
                                            <div class="form-radio" style="margin-top: 7px">
                                                <input type="checkbox" name="c_tp_j" id="c_tp_j" v-model="personal.idestado">
                                                <label for="c_tp_j"> Activo</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row" v-if="!personal.idestado">
                                        <label class="col-lg-2 col-form-label" for="cese_personal">Fecha de cese: </label>
                                        <div class="col-lg-5">
                                            <input type="date" name="cese_personal" id="cese_personal" class="form-control" v-model="personal.dfechafinlabores">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <i class="col-lg-2"></i>
                                        <div class="col-lg-10">
                                            <button class="btn btn-w-m btn-primary mr10" type="submit">Registrar</button>
                                            <a href="#" class="btn btn-default btn-w-m" @click="$router.go(-1)">Cancelar</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { required, minLength, maxLength, decimal, minValue } from 'vuelidate/lib/validators'
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import searchcliente from '@/components/s_clientes.vue'
    import { personalStore } from "../../stores/personalStore.js";
    import { userStore } from "../../stores/userStore.js";
    import { generalStore } from "../../stores/generalStore.js";

	export default {
		name: 'edit_personal',
        components: {
            vmenu, vheader, searchcliente
        },
		data() {
            return {
                personal : {
                    idlocal: '1',
                    idcargo: '1',
                    dfechainilabores: '',
                    nmontosueldo: '',
                    lplanilla: '',
                    idestado: ''
                },
                locales : [],
                cargos : [],
                filterClient : '',
                message : '',
                userStore: userStore.state,
                personalStore: personalStore.state,
                valCliente: true
            };
        },
        computed: {
        },
        validations: {
            personal: {
                idlocal : {
                    required
                },
                idcargo : {
                    required
                },                
                nmontosueldo :{
                    decimal,
                    minValue: minValue(0)
                }
            }
        },
        methods: {
            editPersonal(){
                this.userStore.loading = true;
                let personal = this.personal;
                let idusumod = userStore.state.user.idUsuario;
                if(!this.personal.idcliente){
                    this.valCliente = false;
                    this.userStore.loading = false;
                } else {
                    let estado = '';
                    if(personal.idestado == true){ estado = 1; }
                    else { 
                        estado = 2;
                        personalStore.cesar(personal.idpersonal, idusumod, personal.dfechafinlabores).then( () => {});
                    }
                    personalStore.edit(personal.idcliente, personal.idlocal, personal.idcargo, 
                            estado, personal.dfechainilabores, personal.nmontosueldo,
                            personal.lplanilla, idusumod, personal.idpersonal)
                        .then( () => {
                            this.$router.replace({ name: "mant_personal", params: {'message' : "Datos guardados exitosamente"} });
                        }, (error) => {
                            this.message = error;
                            this.userStore.loading = false;
                        });
                }
            },
            closeNotification(){
                this.message = ''
            },
            changeCliente(id){
                this.personal.idcliente = id;
            },
            baja(){
                this.userStore.loading = true;
                let idusumod = userStore.state.user.idUsuario;
                let id = this.$route.params.id;
                personalStore.baja(id, idusumod)
                    .then( () => {
                        this.userStore.loading = false;
                        this.$router.replace({ name: "mant_personal", params: {'message' : "Personal dado de baja exitosamente"} });
                    }, (error) => {
                        this.userStore.loading = false;
						this.message = error;
					});
            },
        },
        mounted() {
            this.userStore.loading = true;
            generalStore.getLocales().then( (response)=> {
                this.locales = [];
                response.data.forEach(element => {
                    this.locales.push(element);
                });
                this.userStore.loading = false;
            }, () => {
                this.userStore.loading = false;
            });

            generalStore.getCargos().then( (response)=> {
                this.cargos = [];
                response.data.forEach(element => {
                    this.cargos.push(element);
                });
                this.userStore.loading = false;
            }, () => {
                this.userStore.loading = false;
            });

            let id = this.$route.params.id;
            let personals = this.personalStore.personals;
            function filterItems(personals, id) {
                let list = personals.filter( (el) => {
                    return el.idpersonal == id;
                })
                return list;
            }

            let personal = filterItems(personals, id)[0];
            this.personal = {
                    idlocal: personal.idlocal,
                    idcargo: personal.idcargo,
                    dfechainilabores: personal.dfechainilabores,
                    nmontosueldo: personal.nmontosueldo,
                    lplanilla: personal.lplanilla,
                    idestado: personal.idestado,
                    idcliente: personal.idcliente,
                    idpersonal: personal.idpersonal
                }
            if(personal.idestado == 2){
                this.personal.idestado = false;
            } else if(personal.idestado == 1){
                this.personal.idestado = true;
            }
            
        }
	}
</script>
<style lang="scss">
    .btn-danger{
        float: right;
    }
</style>