<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Personal</h2>
                    <router-link to="/mant_personal/insertar" class="btn btn-primary btn-w-m">Agregar nuevo</router-link>
                </div>
                <div class="col-lg-2">
                    <input type="text" placeholder="Buscar ..." class="form-control search-box" v-model="t_filter">
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <div class="alert alert-success alert-dismissable" v-if="message">
                                    <button aria-hidden="true" @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                    <a class="alert-link" href="#">{{message}}</a>.
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>DNI</th>
                                            <th>Local</th>
                                            <th>Cargo</th>
                                            <th>Planilla</th>
                                            <th>Estado</th>
                                            <th class="text-center"> - </th>
                                            <th class="text-center"> - </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(personal, index) in personal_table" :key="'personal'+index">
                                            <td>{{index+1}}</td>
                                            <td>{{personal.cnombpersona}}</td>
                                            <td>{{personal.cnumdoc}}</td>
                                            <td>{{personal.cnombrelocal}}</td>
                                            <td>{{personal.cdesccargo}}</td>
                                            <td>
                                                <span v-if="personal.lplanilla == true">Si</span>
                                                <span v-if="personal.lplanilla == false">No</span>
                                            </td>
                                            <td>{{personal.cdescripcion}}</td>
                                            <td class="text-center">
                                                <router-link :to="{path: 'mant_personal/editar/'+personal.idpersonal}"
                                                             class="btn btn-w-m">Editar</router-link>
                                            </td>
                                            <td class="text-center">
                                                <router-link :to="{path: 'mant_personal/ver/'+personal.idpersonal}"
                                                             class="btn btn-w-m">Ver</router-link>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { personalStore } from "../../stores/personalStore.js";
    import { userStore } from "../../stores/userStore.js";
    
	export default {
		name: 'mant_personal',
        components: {
            vmenu, vheader
        },
        props: {
            message: ''
        },
		data() {
            return {
                t_filter : '',
                personalSt : personalStore.state,
                userStore: userStore.state
            };
        },
        methods: {
            closeNotification(){
                this.message = ''
            }
        },
        computed: {
            personal_table: function(){
                function filterItems(personals, arg) {
                    return personals.filter(function (el) {
                        return el.cnombpersona.toUpperCase().includes(arg) || 
                               el.cnumdoc.toUpperCase().includes(arg) || 
                               el.cnombrelocal.toUpperCase().includes(arg);
                    });
                }
                return filterItems(this.personalSt.personals, this.t_filter.toUpperCase());
            }
        },
        mounted() {
            this.userStore.loading = true;
            personalStore.getPersonal().then( ()=> {
                this.userStore.loading = false;
            }, () => {
                this.userStore.loading = false;
            });
        },

	}
</script>