<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Personal</h2>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <a @click="$router.go(-1)" class="btn-outline btn-default btn">&#60;&#60; Regresar a listado</a>
                                <br><br>
                                <div>
                                    <h3>Ver personal</h3>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Cliente: </label>
                                        <div class="col-lg-10 col-form-label">
                                            <span>{{personal[0].cnombpersona}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">N° doc.: </label>
                                        <div class="col-lg-10 col-form-label">
                                            <span>{{personal[0].cnumdoc}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Local: </label>
                                        <div class="col-lg-5 col-form-label">
                                            <span>{{personal[0].cnombrelocal}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Cargo: </label>
                                        <div class="col-lg-5 col-form-label">
                                            <span>{{personal[0].cdesccargo}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Fecha de inicio: </label>
                                        <div class="col-lg-3 col-form-label">
                                            <span>{{personal[0].dfechainilabores}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Monto de pago: </label>
                                        <div class="col-lg-3 col-form-label">
                                            <span>{{personal[0].nmontosueldo | tomoney }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">En Planilla: </label>
                                        <div class="col-lg-3 col-form-label">
                                            <span v-show="personal[0].lplanilla">Si</span>
                                            <span v-show="!personal[0].lplanilla">No</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Estado: </label>
                                        <div class="col-lg-3 col-form-label">
                                            <span>{{personal[0].cdescripcion}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row" v-show="personal[0].cdescripcion == 'NO ACTIVO'">
                                        <label class="col-lg-2 col-form-label">Fecha de cese: </label>
                                        <div class="col-lg-3 col-form-label">
                                            <span>{{personal[0].dfechafinlabores | todate}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { personalStore } from "../../stores/personalStore.js";
    import { generalStore } from "../../stores/generalStore.js";
    
	export default {
		name: 'show_personal',
        components: {
            vmenu, vheader
        },
		data() {
            return {               
                personalStore : personalStore.state
            };
        },
        methods: {

        },
        computed: {
            personal: function(){
                let id = this.$route.params.id;
                let personals = this.personalStore.personals;
                function filterItems(personals, id) {
                    let list = personals.filter( (el) => {
                        el.dfechainilabores = generalStore.changeFormat(el.dfechainilabores);
                        return el.idpersonal == id;
                    })
                    return list;
                }
                return filterItems(personals, id);
            }
        },

	}
</script>
<style lang="scss">
    .col-form-label span{
        display: inline-block;
    }
    .form-group {
        margin-bottom: .5rem;
    }
</style>