<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Clientes</h2>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <a href="#" class="btn btn-danger btn-outline baja" @click.prevent="baja()">
                                    <i class="fa fa-trash"></i>
                                    Dar de baja
                                </a>
                                <form action="#" @submit.prevent="editCliente()">
                                    <h3>Editar clientes.</h3>
                                    <!-- <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Email</label>
                                        <div class="col-lg-10">
                                            <input type="email" placeholder="Email" class="form-control">
                                            <span class="form-text m-b-none">Example block-level help text here.</span>
                                        </div>
                                    </div> -->
                                    <div class="alert alert-warning alert-dismissable" v-if="message">
                                        <button aria-hidden="true"  @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                        <a class="alert-link" href="#">{{message}}</a>.
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Tipo de documento: </label>
                                        <div class="col-lg-10">
                                            <div class="form-radio">
                                                <input type="radio" name="c_ndoc" id="c_dni" value="1" v-model="cliente.idtipodoc" @change="changeDoc(1)">
                                                <label for="c_dni">DNI</label>
                                            </div>
                                            <div class="form-radio">
                                                <input type="radio" name="c_ndoc" id="c_ruc" value="2" v-model="cliente.idtipodoc" @change="changeDoc(2)">
                                                <label for="c_ruc">RUC</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row" :class="{ 'form-group--error': $v.cliente.idtipopersona.$error }">
                                        <label class="col-lg-2 col-form-label">Tipo de persona: </label>
                                        <div class="col-lg-5">
                                            <div class="form-radio">
                                                <input type="radio" name="c_tp" id="c_tp_n" value="1" v-model="cliente.idtipopersona">
                                                <label for="c_tp_n">Persona natural</label>
                                            </div>
                                            <div class="form-radio" v-show="cliente.idtipodoc != 1">
                                                <input type="radio" name="c_tp" id="c_tp_j" value="2" v-model="cliente.idtipopersona">
                                                <label for="c_tp_j">Persona juridica</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Nro. Documento: </label>
                                        <div class="col-lg-5" v-show="cliente.idtipodoc == 1">
                                            <input type="text" name="cnumdoc_dni" class="form-control" v-model="cliente.cnumdoc_dni" required disabled>
                                            <div class="error text-danger" v-show="!$v.cliente.cnumdoc_dni.minLength">Deberia de tener minimo {{$v.cliente.cnumdoc_dni.$params.minLength.min}} números.</div>
                                            <div class="error text-danger" v-show="!$v.cliente.cnumdoc_dni.maxLength">Deberia de tener maximo {{$v.cliente.cnumdoc_dni.$params.maxLength.max}} números.</div>
                                            <div class="error text-danger" v-show="!$v.cliente.cnumdoc_dni.integer">Deberia de ingresar solo números.</div>
                                        </div>
                                        <div class="col-lg-5" v-show="cliente.idtipodoc == 2">
                                            <input type="text" name="cnumdoc_ruc" class="form-control" v-model="cliente.cnumdoc_ruc" required disabled>
                                            <div class="error text-danger" v-show="!$v.cliente.cnumdoc_ruc.minLength">Deberia de tener minimo {{$v.cliente.cnumdoc_ruc.$params.minLength.min}} números.</div>
                                            <div class="error text-danger" v-show="!$v.cliente.cnumdoc_ruc.maxLength">Deberia de tener maximo {{$v.cliente.cnumdoc_ruc.$params.maxLength.max}} números.</div>
                                            <div class="error text-danger" v-show="!$v.cliente.cnumdoc_ruc.integer">Deberia de ingresar solo números.</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">{{nombreLabel}}: </label>
                                        <div class="col-lg-5">
                                            <input type="text" name="cl_cnombpersona" id="" class="form-control" v-model="cliente.cnombpersona" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Fecha de nac.: </label>
                                        <div class="col-lg-3">
                                            <input type="date" name="cl_dfechanacimiento" id="" class="form-control" v-model="cliente.dfechanacimiento" required>
                                            <div class="error text-danger" v-show="invalidDate">Debe de ingresar una fecha valida.</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Cell.: </label>
                                        <div class="col-lg-5">
                                            <input type="number" maxlength="9"  oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" name="cl_cnumcel" id="" class="form-control" v-model="cliente.cnumcel">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Es Proveedor: </label>
                                        <div class="col-lg-5 form-radio">
                                            <input type="checkbox" name="cl_proveedor" id="" class="" v-model="cliente.proveedor">
                                        </div>
                                    </div>
                                    <br>
                                    <template v-if="cliente.proveedor">
                                        <h3>Lugar de procedencia del café</h3>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Departamento: </label>
                                            <div class="col-lg-5">
                                                <select name="cl_dept" id="cl_dept" class="col-lg-12 form-control" v-model="cliente.ccoddpto" required  @change="loadProvincia()">
                                                    <option :value="place.ccoddpto" v-for="(place, index) in ubigeo.departamento" :key="'dpto'+index">{{place.cnombdpto}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Provincia: </label>
                                            <div class="col-lg-5">
                                                <select name="cl_provincia" id="cl_provincia" class="col-lg-12 form-control" v-model="cliente.ccodprov" required  @change="loadDistrito()">
                                                    <option :value="place.ccodprov" v-for="(place, index) in ubigeo.provincia" :key="'prov'+index">{{place.cnombprov}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Distrito: </label>
                                            <div class="col-lg-5">
                                                <select name="distrito" id="cl_distrito" class="col-lg-12 form-control" v-model="cliente.ccoddist" required>
                                                    <option :value="place.ccoddist" v-for="(place, index) in ubigeo.distrito" :key="'dist'+index">{{place.cnombdist}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </template>
                                    <div class="form-group row">
                                        <i class="col-lg-2"></i>
                                        <div class="col-lg-10">
                                            <button class="btn btn-w-m btn-primary mr10" type="submit">Editar</button>
                                            <a href="#" class="btn btn-default btn-w-m" @click="$router.go(-1)">Cancelar</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { required, minLength, maxLength, between, integer } from 'vuelidate/lib/validators'
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { clienteStore } from "../../stores/clienteStore.js";
    import { userStore } from "../../stores/userStore.js";
    import { generalStore } from "../../stores/generalStore.js";

	export default {
		name: 'edit_clientes',
        components: {
            vmenu, vheader
        },
		data() {
            return {
                cliente : {
                    idtipodoc: '1',
                    idtipopersona: '1',
                    cnumdoc_ruc: 0,
                    cnumdoc_dni: 0,
                    proveedor: false,
                    dfechanacimiento: ''
                },
                ubigeo : {
                    departamento : [],
                    provincia : [],
                    distrito : []
                },
                message : '',
                clienteStore : clienteStore.state,
                userStore: userStore.state
            };
        },
        computed: {
            nombreLabel(){
                if(this.cliente.idtipopersona == 2){
                    return 'Razon social';
                } else {
                    return 'Nombre';
                }
            },
            invalidDate(){
                debugger;
                if(new Date(this.cliente.dfechanacimiento) > new Date()){
                    return true;
                }
                return false;
            }
        },
        validations: {
            cliente: {
                idtipodoc : {
                    required,
                },
                cnumdoc_dni : {
                    minLength: minLength(8),
                    maxLength: maxLength(8),
                    integer
                },
                cnumdoc_ruc : {
                    minLength: minLength(11),
                    maxLength: maxLength(11),
                    integer
                },
                cnombpersona :{
                    required
                },
                dfechanacimiento :{
                    required
                },                
                cnumcel :{
                    integer
                },
                idtipopersona :{
                }
            }
        },
        methods: {
            editCliente(){
                //loading
                this.$v.$touch();
                this.userStore.loading = true;
                let cliente = this.cliente;
                let invalid = true;
                if(cliente.idtipodoc == 1){
                    cliente.cnumdoc = this.cliente.cnumdoc_dni;
                    invalid = this.$v.cliente.cnumdoc_dni.$invalid;
                }
                else {
                    cliente.cnumdoc = this.cliente.cnumdoc_ruc;
                    invalid = this.$v.cliente.cnumdoc_ruc.$invalid;
                }

                if (!invalid && !this.invalidDate) {
                    let idtipopersona = cliente.idtipodoc;
                    let idusureg = userStore.state.user.idUsuario;

                    clienteStore.edit(cliente.idcliente, cliente.idtipodoc, cliente.cnumdoc, idtipopersona, 
                            cliente.cnombpersona, cliente.dfechanacimiento, cliente.cnumcel, idusureg,
                            cliente.ccoddpto, cliente.ccodprov, cliente.ccoddist)
                        .then( () => {
                            this.$router.replace({ name: "mant_clientes", params: {'message' : "Cliente actualizado exitosamente"} });
                        }, (error) => {
                            this.userStore.loading = false;
                            this.message = error;
                        });
                } else {
                    this.userStore.loading = false;
                }
            },
            changeDoc(index){
                if(index == 1){
                    this.cliente.cnumdoc_dni = this.cliente.cnumdoc_ruc;
                    this.cliente.idtipopersona = 1;
                }
                else 
                    this.cliente.cnumdoc_ruc = this.cliente.cnumdoc_dni;
            },
            baja(){
                this.userStore.loading = true;
                let id = this.$route.params.id;
                clienteStore.baja(id)
                    .then( () => {
                        this.userStore.loading = false;
                        this.$router.replace({ name: "mant_clientes", params: {'message' : "Cliente dado de baja exitosamente"} });
                    }, (error) => {
                        this.userStore.loading = false;
						this.message = error;
					});
            },
            closeNotification(){
                this.message = ''
            },
            loadProvincia(){
                let id = this.cliente.ccoddpto;
                this.loadProvinciaSt(id);
            },
            loadProvinciaSt(id){
                this.ubigeo.provincia = [];
                generalStore.getProvincias(id).then( (response) => {
                    response.data.forEach(element => {
                        this.ubigeo.provincia.push(element);
                    })
                })
            },
            loadDistrito(){
                let id = this.cliente.ccodprov;
                this.loadDistritoSt(id);
            },
            loadDistritoSt(id){
                this.ubigeo.distrito = [];
                generalStore.getDistritos(id).then( (response) => {
                    response.data.forEach(element => {
                        this.ubigeo.distrito.push(element);
                    })
                })
            },
        },
        mounted() {            
            let id = this.$route.params.id;
            let clientes = this.clienteStore.clientes;
            function filterItems(clientes, id) {
                let list = clientes.filter( (el) => {
                    return el.idcliente == id;
                })
                list[0].cnumdoc_dni = list[0].cnumdoc;
                list[0].cnumdoc_ruc = list[0].cnumdoc;

                if(list[0].ccoddpto != null){
                    list[0].proveedor = true;
                }
                return list;
            }

            generalStore.getDepartamentos().then( (response) => {
                this.ubigeo.departamento = [];
                response.data.forEach(element => {
                    this.ubigeo.departamento.push(element);
                });
            })
            
            let cliente = filterItems(clientes, id)[0];
            this.cliente.idcliente = cliente.idcliente;
            this.cliente.idtipodoc = cliente.idtipodoc;
            this.cliente.idtipopersona = cliente.idtipopersona;
            this.cliente.cnumdoc_dni = cliente.cnumdoc_dni;
            this.cliente.cnumdoc_ruc = cliente.cnumdoc_ruc;
            this.cliente.cnombpersona = cliente.cnombpersona;
            this.cliente.dfechanacimiento = cliente.dfechanacimiento;
            this.cliente.cnumcel = cliente.cnumcel;
            this.cliente.ccoddpto = cliente.ccoddpto;
            this.cliente.ccodprov = cliente.ccodprov;
            this.cliente.ccoddist = cliente.ccoddist;
            this.cliente.proveedor = cliente.proveedor;

            this.loadProvinciaSt(this. cliente.ccoddpto);
            this.loadDistritoSt(this. cliente.ccodprov);
        }
	}
</script>
<style lang="scss">
    .btn-danger{
        float: right;
    }
</style>