<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Clientes</h2>
                    <router-link to="/mant_clientes/insertar" class="btn btn-primary btn-w-m">Agregar nuevo</router-link>
                </div>
                <div class="col-lg-2">
                    <input type="text" placeholder="Buscar ..." class="form-control search-box" v-model="t_filter">
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <div class="alert alert-success alert-dismissable" v-if="message">
                                    <button aria-hidden="true" @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                    <a class="alert-link" href="#">{{message}}</a>.
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>DNI / RUC</th>
                                            <th>Celular</th>
                                            <th>Proveedor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(cliente, index) in cliente_table" :key="'cliente'+index">
                                            <td>{{index+1}}</td>
                                            <td>{{cliente.cnombpersona}}</td>
                                            <td>{{cliente.cnumdoc}}</td>
                                            <td>{{cliente.cnumcel}}</td>
                                            <td>
                                                <span v-if="cliente.ccoddpto != null">Si</span>
                                                <span v-if="cliente.ccoddpto == null">No</span>
                                            </td>
                                            <td>
                                                <router-link :to="{path: 'mant_clientes/editar/'+cliente.idcliente}"
                                                             class="btn btn-w-m">Editar</router-link>
                                            </td>
                                            <td>
                                                <router-link :to="{path: 'mant_clientes/ver/'+cliente.idcliente}"
                                                             class="btn btn-w-m">Ver</router-link>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { clienteStore } from "../../stores/clienteStore.js";
    import { userStore } from "../../stores/userStore.js";
    
	export default {
		name: 'mant_clientes',
        components: {
            vmenu, vheader
        },
        props: {
            message: ''
        },
		data() {
            return {
                t_filter : '',
                cliente : clienteStore.state,
                userStore: userStore.state
            };
        },
        methods: {
            closeNotification(){
                this.message = ''
            }
        },
        computed: {
            cliente_table: function(){
                function filterItems(clientes, arg) {
                    return clientes.filter(function (el) {
                        return el.cnombpersona.toUpperCase().includes(arg) ||
                                el.cnumdoc.toUpperCase().includes(arg) ||
                                el.cnumcel.toUpperCase().includes(arg);
                    });
                }
                return filterItems(this.cliente.clientes, this.t_filter.toUpperCase());
            }
        },
        mounted() {
            this.userStore.loading = true;
            clienteStore.getClientes().then( ()=> {
                console.log(this.cliente.clientes);
                this.userStore.loading = false;
            }, () => {
                this.userStore.loading = false;
            });
        },

	}
</script>