<template>
	<div id="wrapper">
        a
        <vmenu></vmenu>
        b
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Clientes</h2>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <a @click="$router.go(-1)" class="btn-outline btn-default btn">&#60;&#60; Regresar a listado</a>
                                <br><br>
                                <div>
                                    <h3>Ver cliente.</h3>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Tipo de persona: </label>
                                        <div class="col-lg-10 col-form-label">
                                            <template v-if="cliente[0].idtipopersona == 1">
                                                <span>Persona natural</span>
                                            </template>
                                            <template v-if="cliente[0].idtipopersona == 2">
                                                <span>Persona juridica</span>
                                            </template>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Nro. Documento: </label>
                                        <div class="col-lg-5 col-form-label">
                                            <template v-if="cliente[0].idtipodoc == 1">
                                                <span>DNI:</span>
                                            </template>
                                            <template v-if="cliente[0].idtipodoc == 2">
                                                <span>RUC:</span>
                                            </template>
                                            <span>&nbsp;{{cliente[0].cnumdoc}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Nombre: </label>
                                        <div class="col-lg-5 col-form-label">
                                            <span>{{cliente[0].cnombpersona}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Fecha de nac.: </label>
                                        <div class="col-lg-3 col-form-label">
                                            <span>{{cliente[0].dfechanacimiento}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Cell.: </label>
                                        <div class="col-lg-3 col-form-label">
                                            <span>{{cliente[0].cnumcel}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Proveedor: </label>
                                        <div class="col-lg-3 col-form-label">
                                            <span v-if="cliente[0].departamento != null">Si</span>
                                            <span v-if="cliente[0].departamento == null">No</span>
                                        </div>
                                    </div>
                                    <template v-if="cliente[0].departamento != null">
                                        <h3>Procedencia de cafe</h3>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Departamento: </label>
                                            <div class="col-lg-3 col-form-label">
                                                <span>{{cliente[0].departamento}}</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Provincia: </label>
                                            <div class="col-lg-3 col-form-label">
                                                <span>{{cliente[0].provincia}}</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Distrito: </label>
                                            <div class="col-lg-3 col-form-label">
                                                <span>{{cliente[0].distrito}}</span>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { clienteStore } from "../../stores/clienteStore.js";
    import { generalStore } from "../../stores/generalStore.js";
    
	export default {
		name: 'show_clientes',
        components: {
            vmenu, vheader
        },
		data() {
            return {               
                clienteStore : clienteStore.state
            };
        },
        methods: {

        },
        computed: {
            cliente: function(){
                let id = this.$route.params.id;
                let clientes = this.clienteStore.clientes;
                function filterItems(clientes, id) {
                    return clientes.filter( (el) => {
                        el.dfechanacimiento = generalStore.changeFormat(el.dfechanacimiento);
                        return el.idcliente == id;
                    })
                }
                return filterItems(clientes, id);
            }
        },

	}
</script>
<style lang="scss">
    .col-form-label span{
        display: inline-block;
    }
    .form-group {
        margin-bottom: .5rem;
    }
</style>