<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>
                        <slot name="dashboard-header">Titulo</slot>
                    </h2>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <slot name="dashboard-body">Contenido</slot>
            </div>
            <div class="footer">
                <div>
                    <strong>Copyright</strong> &copy; 2019
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { userStore } from "../stores/userStore.js";
    
	export default {
		name: 'vdashboard',
        components: {
            vmenu, vheader
        },
		data() {
            return {
                userStore : userStore
            };
        },
        methods: {
            logout(){
                this.$emit("authenticated", false);
                this.$router.replace({ name: "login" });
            }
        }

	}
</script>