<template>
	<div class="gray-bg">
		<div class="middle-box text-center loginscreen animated fadeInDown">
			<div>
				<h1 class="logo-name">GL</h1>
			</div>
			<p>Identifiquese para ingresar a GreenLog.</p>
			<p class="text-danger">{{message}}</p>
			<form class="m-t" role="form" @submit="login()">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Username" v-model="input.username" required="">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="Password" v-model="input.password" required="">
				</div>
				<button type="submit" class="btn btn-primary block full-width m-b">Login</button>
			</form>
			<br><br><br>
			<p class="copy"> <small>GreenLog v1.0 | GroSoTEC SAC &copy; 2019</small> </p>
		</div>
	</div>
</template>

<script>
	import { userStore } from "../stores/userStore.js";

	export default {
		name: 'login',
		data() {
			return {
				input: {
					username: "",
					password: ""
				},
				message: ''
			}
		},
		methods: {
			login() {
				userStore.loading = true;
				if(this.input.username != "" && this.input.password != "") {
					userStore.login(this.input.username, this.input.password)
					.then(() => {
						//this.$emit("authenticated", true);
						userStore.state.authenticated = true;
						userStore.loading = false;
						this.$router.replace({ name: "dashboard" });
					}, (error) => {
						this.message = error;
					})
				} else {
					this.message = "Es necesario ingresar el usuario y la contraseña";
				}
			}
		}
	}
</script>
<style lang="css">
	.gray-bg{
		height: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
	.copy{
		position: fixed;
		bottom: 0;
		width: 100%;
	}
</style>
