<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Entrada de Productos</h2>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <form action="#" @submit.prevent="saveEntrada()">
                                    <h3>Registrar entrada del producto.</h3>
                                   
                                    <div class="alert alert-success alert-dismissable" v-if="message">
                                        <button aria-hidden="true"  @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                        <a class="alert-link" href="#">{{message}}</a>.
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Producto: </label>
                                        <div class="col-lg-10">
                                            <searchproducto2 @change="changeproducto" ></searchproducto2>
                                            <!--<div class="text-danger" v-show="!valCliente">Seleccionar un cliente es requerido.</div> style="top: 78px;"-->
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Proveedor: </label>
                                        <div class="col-lg-10">
                                            <searchproveedor @change="changeProveeedor"></searchproveedor>
                                            <!--<div class="text-danger" v-show="!valCliente">Seleccionar un cliente es requerido.</div>-->
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Almacen </label>
                                        <div class="col-lg-10">
                                            <select name="cl_dept" id="en_almacen" class="form-control" v-model="entrada.idalmacen"  >
                                                <option :value="almacen.idalmacen" v-for="(almacen, index) in almacenes" :key="'al'+index">{{almacen.cnombrealmacen}}</option>
                                            </select>  
                                        </div> 
                                    </div>
                                  
                                   
                                    
                                
                                    
                                    <br>
                                    <template >
                                        <h3>Lugar de procedencia del producto</h3>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Departamento: </label>
                                            <div class="col-lg-5">
                                                <select name="cl_dept" id="en_dept" class="col-lg-12 form-control" v-model="entrada.ccoddpto" @change="loadProvincia()" required>
                                                    <option :value="place.ccoddpto" v-for="(place, index) in ubigeo.departamento" :key="'dpto'+index">{{place.cnombdpto}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Provincia: </label>
                                            <div class="col-lg-5">
                                                <select name="cl_provincia" id="en_provincia" class="col-lg-12 form-control" v-model="entrada.ccodprov" @change="loadDistrito()" required>
                                                    <option :value="place.ccodprov" v-for="(place, index) in ubigeo.provincia" :key="'prov'+index">{{place.cnombprov}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Distrito: </label>
                                            <div class="col-lg-5">
                                                <select name="distrito" id="en_distrito" class="col-lg-12 form-control" v-model="entrada.ccoddist" required>
                                                    <option :value="place.ccoddist" v-for="(place, index) in ubigeo.distrito" :key="'dist'+index">{{place.cnombdist}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </template>
                                    <hr>
                                    <template >
                                        <h3>Especificaciones</h3>
                                       <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Precio base: </label>
                                            <div class="col-lg-5">
                                                <input type="number" step="0.01" name="en_npreciobase" id="" class="form-control" v-model="entrada.npreciobase" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Precio venta: </label>
                                            <div class="col-lg-5">
                                                <input type="number" step="0.01" name="en_nprecioventa" id="" class="form-control" v-model="entrada.nprecioventa" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Peso bruto: </label>
                                            <div class="col-lg-5">
                                                <input type="number" step="0.01" name="en_npesobruto" id=""  class="form-control"   v-model="entrada.npesobruto">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Peso neto: </label>
                                            <div class="col-lg-5 ">
                                                <input type="number" step="0.01" name="en_npesoneto" id="" class="form-control"  v-model="entrada.npesoneto">
                                            </div>
                                        </div> 
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Peso tara: </label>
                                            <div class="col-lg-5 ">
                                                <!--<input type="number" step="0.01" name="en_ntara" id="" class="form-control" v-model="entrada.ntara" disabled>-->
                                                <a  class="form-control" v-if=" entrada.npesobruto >= entrada.npesoneto" >{{entrada.npesobruto - entrada.npesoneto}}</a>
                                                <a  class="form-control" style="color: red;" v-if=" entrada.npesobruto < entrada.npesoneto" >El peso neto no puede ser mayor que el peso bruto</a>
                                            </div>
                                        </div>     
                                    </template>           


                                    <div class="form-group row">
                                        <i class="col-lg-2"></i>
                                        <div class="col-lg-10">
                                            <button class="btn btn-w-m btn-primary mr10" type="submit">Registrar</button>
                                            <a href="#" class="btn btn-default btn-w-m" @click="$router.go(-1)">Cancelar</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { required, minLength, maxLength, between, integer, maxValue } from 'vuelidate/lib/validators'
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { entradaStore } from "../../stores/entradaStore.js";
    import searchproducto2 from '@/components/s_productos2.vue'
    import searchproveedor from '@/components/s_proveedores.vue'
    import { userStore } from "../../stores/userStore.js";
    import { generalStore } from "../../stores/generalStore.js";
    
	export default {
		name: 'create_entradas',
        components: {
            vmenu, vheader, searchproveedor, searchproducto2
        },
		data() {
            return {
                entrada : {
                    idcliente: '1',
                    idproducto: '1',
                    npreciobase: '',
                    nprecioventa: '',
                    npesobruto: '',
                    npesoneto: '',
                    ntara: '',
                    idalmacen: ''

                },
                
                almacenes: [],
                ubigeo : {
                    departamento : [],
                    provincia : [],
                    distrito : []
                },
                message : '',
                userStore: userStore.state,
               
            };
        },
        computed: {
          
                
            
          
        
        },
        validations: {
           
        },
         watch: {
           
           
        },
        methods: {
            saveEntrada(){
                this.$v.$touch();
                this.userStore.loading = true;
                let entrada = this.entrada;
                let invalid = false;
                
                if (entrada.npesobruto > entrada.npesoneto) {

                     if (!invalid ) {
                        entrada.ntara = entrada.npesobruto - entrada.npesoneto;
                        let idusureg = userStore.state.user.idUsuario;
                        
                        console.log(entrada);
                        entradaStore.save(entrada.idalmacen, entrada.idcliente, entrada.idproducto, 
                                entrada.npreciobase, entrada.nprecioventa, entrada.npesobruto, entrada.npesoneto, entrada.ntara,
                                entrada.ccoddpto, entrada.ccodprov, entrada.ccoddist, idusureg)
                            .then( () => {
                                this.$router.replace({ name: "entradas", params: {'message' : "Datos guardados exitosamente"} });
                            }, (error) => {
                                this.message = error;
                                this.userStore.loading = false;
                            });
                    } else {
                        this.userStore.loading = false;
                    }
                }else{
                    this.userStore.loading = false;
                }
                

               
            },
            loadProvincia(){
                let id = this.entrada.ccoddpto;
                this.ubigeo.provincia = [];
                generalStore.getProvincias(id).then( (response) => {
                    response.data.forEach(element => {
                        this.ubigeo.provincia.push(element);
                    })
                })
            },
            loadDistrito(){
                let id = this.entrada.ccodprov;
                this.ubigeo.distrito = [];
                generalStore.getDistritos(id).then( (response) => {
                    response.data.forEach(element => {
                        this.ubigeo.distrito.push(element);
                    })
                })
            },
           
            closeNotification(){
                this.message = ''
            },
            changeproducto(id){
                this.entrada.idproducto = id;
            },
            changeProveeedor(id){
                this.entrada.idcliente = id;
            },
            
        },
        mounted() {
            this.entrada.ntara = this.entrada.npesobruto - this.entrada.npesoneto;
            generalStore.getDepartamentos().then( (response) => {
                this.ubigeo.departamento = [];
                response.data.forEach(element => {
                    this.ubigeo.departamento.push(element);
                });
            });
            generalStore.getAlmacenes().then( (response) => {
                this.almacenes = [];
                response.data.forEach(element => {
                    this.almacenes.push(element);
                });
            });
        },
        
	}
</script>