<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Entrada de Productos</h2>
                    <router-link to="/entradas/insertar" class="btn btn-primary btn-w-m">Agregar nuevo</router-link>
                </div>
                <div class="col-lg-2">
                    <input type="text" placeholder="Buscar ..." class="form-control search-box" v-model="t_filter">
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <div class="alert alert-success alert-dismissable" v-if="message">
                                    <button aria-hidden="true" @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                    <a class="alert-link" href="#">{{message}}</a>.
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Producto</th>
                                            <th>Proveedor</th>
                                            <th>Almacen</th>
                                            <th>Departamento</th>
                                            <th>Provincia</th>
                                            <th>Distrito</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(entrada, index) in entrada_table" :key="'entrada'+index">
                                            <td>{{index+1}}</td>
                                            <td>{{entrada.cnombproducto}}</td>
                                            <td>{{entrada.cnombpersona}}</td>
                                            <td>{{entrada.cnombrealmacen}}</td>
                                            <td>{{entrada.cnombdpto}}</td>
                                            <td>{{entrada.cnombprov}}</td>
                                            <td>{{entrada.cnombdist}}</td>
                                            
                                            <td>
                                                <router-link :to="{path: 'entradas/editar/'+entrada.identradaproducto}"
                                                             class="btn btn-w-m">Editar</router-link>
                                            </td>
                                            <td>
                                                <router-link :to="{path: 'entradas/ver/'+entrada.identradaproducto}"
                                                             class="btn btn-w-m">Ver</router-link>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { entradaStore } from "../../stores/entradaStore.js";
    import { userStore } from "../../stores/userStore.js";
    
	export default {
		name: 'entradas',
        components: {
            vmenu, vheader
        },
        props: {
            message: ''
        },
		data() {
            return {
                t_filter : '',
                entrada : entradaStore.state,
                userStore: userStore.state
            };
        },
        methods: {
            closeNotification(){
                this.message = ''
            }
        },
        computed: {
            entrada_table: function(){
                function filterItems(entradas, arg) {
                    return entradas.filter(function (el) {
                        return el.cnombpersona.toUpperCase().includes(arg) ||
                                el.cnombproducto.toUpperCase().includes(arg) ||
                                el.cnombrealmacen.toUpperCase().includes(arg);
                    });
                }
                return filterItems(this.entrada.entradas, this.t_filter.toUpperCase());
            }
        },
        mounted() {
            this.userStore.loading = true;
            entradaStore.getEntradas().then( ()=> {
                console.log(this.entrada.entradas);
                this.userStore.loading = false;
            }, () => {
                this.userStore.loading = false;
            });
        },

	}
</script>