<template>
	<div id="wrapper">
        a
        <vmenu></vmenu>
        b
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Entrada de Productos</h2>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <a @click="$router.go(-1)" class="btn-outline btn-default btn">&#60;&#60; Regresar a listado</a>
                                <br><br>
                                <div>
                                    <h3>Ver Entrada del producto.</h3>
                                    
                                   <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Fecha reg.: </label>
                                        <div class="col-lg-5 col-form-label">
                                            <span>{{entrada[0].dfechareg | todate}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Producto: </label>
                                        <div class="col-lg-5 col-form-label">
                                            <span>{{entrada[0].cnombproducto}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Proveedor: </label>
                                        <div class="col-lg-3 col-form-label">
                                            <span>{{entrada[0].cnombpersona}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Almacen: </label>
                                        <div class="col-lg-3 col-form-label">
                                            <span>{{entrada[0].cnombrealmacen}}</span>
                                        </div>
                                    </div>
                                   
                                    
                                    
                                    <template >
                                        <h3>Ubicación.</h3>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Departamento: </label>
                                            <div class="col-lg-3 col-form-label">
                                                <span>{{entrada[0].cnombdpto}}</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Provincia: </label>
                                            <div class="col-lg-3 col-form-label">
                                                <span>{{entrada[0].cnombprov}}</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Distrito: </label>
                                            <div class="col-lg-3 col-form-label">
                                                <span>{{entrada[0].cnombdist}}</span>
                                            </div>
                                        </div>
                                    </template>
                                    <template >
                                        <h3>Detalles.</h3>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Precio base: </label>
                                            <div class="col-lg-3 col-form-label">
                                                <span>{{entrada[0].npreciobase | tomoney}}</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Precio venta: </label>
                                            <div class="col-lg-3 col-form-label">
                                                <span>{{entrada[0].nprecioventa | tomoney}}</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Peso bruto: </label>
                                            <div class="col-lg-3 col-form-label">
                                                <span>{{entrada[0].npesobruto}}</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Peso neto: </label>
                                            <div class="col-lg-3 col-form-label">
                                                <span>{{entrada[0].npesoneto}}</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Peso tara: </label>
                                            <div class="col-lg-3 col-form-label">
                                                <span>{{entrada[0].ntara}}</span>
                                            </div>
                                        </div>
                                       
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { entradaStore } from "../../stores/entradaStore.js";
    import { generalStore } from "../../stores/generalStore.js";
    
	export default {
		name: 'show_entradas',
        components: {
            vmenu, vheader
        },
		data() {
            return {               
                entradaStore : entradaStore.state
            };
        },
        methods: {

        },
        computed: {
            entrada: function(){
                let id = this.$route.params.id;
                let entradas = this.entradaStore.entradas;
                function filterItems(entradas, id) {
                    return entradas.filter( (el) => {
                       
                        return el.identradaproducto == id;
                    })
                }
                return filterItems(entradas, id);
            }
        },

	}
</script>
<style lang="scss">
    .col-form-label span{
        display: inline-block;
    }
    .form-group {
        margin-bottom: .5rem;
    }
</style>