<template>
    <div class="s_personales">
        <input type="text" style="" v-model="filter" @click="focused" @blur="focusOff" :class="'form-controls '+focusbtn">
        <ul>
            <li v-for="(personal, index) in list_filter" :key="'cl_'+index" @click="selected(personal, 'dato')">
                {{personal.cnumdoc}} - {{personal.cnombpersona}}
            </li>
        </ul>
    </div>
</template>



<script>    
    import { personalStore } from "../stores/personalStore.js";
    import { userStore } from "../stores/userStore.js";

	export default {
		name: 'searchpersonal',
        props: {
            id_campo: String
        },
       
		data() {
            return {
                focusbtn : '',
                activeList : '',
                filter : '',
                lists : [],
                 nombre: '',
                userStore: userStore.state
            };
        },
        methods: {
            focused() {
                this.focusbtn = 'focused';
            },
            selected(el, campo) {
                console.log("Hi sel");
                this.filter = el.cnumdoc + ' - ' + el.cnombpersona;
                this.nombre = el.cnombpersona;
                let id = el[campo];
                this.$emit('change', id);
            },
            focusOff() {
                let el = this;
                setTimeout( function myFunction(el) {
                    el.focusbtn = '';
                    console.log("Bye Focus");
                }, 500, el)
            },
        },
        computed: {
            list_filter: function(){
                function filterItems(lists, arg) {
                    return lists.filter(function (el) {
                        return (el.cnumdoc + ' - ' + el.cnombpersona).toUpperCase().includes(arg);
                    });
                }
                return filterItems(this.lists, this.filter.toUpperCase());
            }
        },
        mounted() {
            this.userStore.loading = true;
            personalStore.getPersonal().then( (response)=> {
               
                response.data.forEach(element => {

                           
                    element["dato"] = element['idpersonal']+' '+element['cnombpersona'];

                     console.log(element);
                    
                    this.lists.push(element);
                  
                });
                this.userStore.loading = false;
            }, () => {
                this.userStore.loading = false;
            });
        },
	}
</script>

<style lang="scss">
    .s_personales{
        input{
            width: 100%;
            padding: 10px;
            border: 1px solid #e5e6e7;
        }
        ul{
            padding: 0;
            list-style-type: none;
            max-height: 0px;
            overflow: hidden;
            border: 1px solid #e5e6e7;
            position: absolute;
            top: 41px;
            right: 15px;
            left: 15px;
            background: #fff;
            z-index: 99;
            box-shadow: 0px 6px 6px -5px #ddd;
            
        }
        li{
            padding: 10px;
            border: 1px solid #eee;
            cursor: pointer;
        }
        input.focused+ul{
            max-height: 200px;
            overflow: auto;
        }
    }
</style>