<template>
    <div class="s_productos2">
        <input type="text" style="" v-model="filter" @click="focused" @blur="focusOff" :class="'form-controls '+focusbtn" placeholder="Buscar producto">
        <ul>
            <li v-for="(producto, index) in list_filter" :key="'pr_'+index" @click="selected(producto, 'idproducto')">
                {{producto.cnombproducto}}
            </li>
        </ul>
    </div>
</template>


<script>    
    import { productosStore } from "../stores/productosStore.js";
    import { userStore } from "../stores/userStore.js";

	export default {
		name: 'searchproducto2',
        props: {
            id_campo: Number
        },
		data() {
            return {
                focusbtn : '',
                activeList : '',
                filter : '',
                lists : [],
                userStore: userStore.state
            };
        },
        methods: {
            focused() {
                this.focusbtn = 'focused';
            },
            selected(el, campo) {
                console.log("Hi sel");
                //this.filter =  el.cnombproducto;
                let id = el;
                this.$emit('change', id);
            },
            focusOff() {
                let el = this;
                setTimeout( function myFunction(el) {
                    el.focusbtn = '';
                    console.log("Bye Focus");
                }, 300, el)
            },
        },
        computed: {
            list_filter: function(){
                function filterItems(lists, arg) {
                    return lists.filter(function (el) {
                        return ( el.cnombproducto).toUpperCase().includes(arg);
                    });
                }
                return filterItems(this.lists, this.filter.toUpperCase());
            }
        },
        mounted() {
            this.userStore.loading = true;
            productosStore.getProductosVenta().then( (response)=> {
               
                response.data.forEach((element, index) => {
                    element.index = index;
                    this.lists.push(element);
                });
                this.$nextTick(function () {
                    // do something cool
                    let id_campo = this.id_campo;
                    if(id_campo){
                        let producto = this.lists.filter( function(el){
                            return el.idproducto == id_campo;
                        })
                        this.filter = producto[0].cnombproducto;
                    }
                })
                this.userStore.loading = false;
            }, () => {
                this.userStore.loading = false;
            });

        },
	}
</script>

<style lang="scss">
    .s_productos2{
        position: relative;
        overflow: visible;
        input{
            width: 100%;
            padding: 10px;
            border: 1px solid #e5e6e7;
        }
        ul{
            padding: 0;
            list-style-type: none;
            max-height: 0px;
            overflow: hidden;
            border: 1px solid #e5e6e7;
            position: absolute;
            top: 39px;
            right: 15px;
            left: 15px;
            background: #fff;
            z-index: 99;
            box-shadow: 0px 6px 6px -5px #ddd;
            transition: all .5s;
        }
        li{
            padding: 10px;
            border: 1px solid #eee;
            cursor: pointer;
        }
        input.focused+ul{
            max-height: 200px;
            overflow: auto;
        }
    }
</style>