<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header"></div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a href="#" @click='logout()'>
                                <i class="fa fa-sign-out"></i> Cerrar sesión
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-lg-10">
                        <h2>
                            <slot name="dashboard-header">Titulo</slot>
                        </h2>
                    </div>
                </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <slot name="dashboard-body">Contenido</slot>
            </div>
            <div class="footer">
                <div>
                    <strong>Copyright</strong> &copy; 2019
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vmenu from '@/components/v_menu.vue'
    import { userStore } from "../stores/userStore.js";
    
	export default {
		name: 'vdashboard',
        components: {
            vmenu
        },
		data() {
            return {
                userStore : userStore
            };
        },
        methods: {
            logout(){
                this.$emit("authenticated", false);
                this.$router.replace({ name: "login" });
            }
        },
        mounted() {
            if(!this.$parent.authenticated) {
                this.$router.replace({ name: "login" });
            }            
        }

	}
</script>
