<template>
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header"></div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="#" @click='logout()'>
                        <i class="fa fa-sign-out"></i> Cerrar sesión
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</template>

<script>
    import { userStore } from "../stores/userStore.js";
    
	export default {
		name: 'vheader',
        components: {
        },
		data() {
            return {
                userStore : userStore
            };
        },
        methods: {
            logout(){
                userStore.state.authenticated = false;
                this.$router.replace({ name: "login" });
            }
        }
	}
</script>