<template>
    <div>
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <img alt="image" class="rounded-circle" :src="require('../assets/img/profile_small.jpg')"/>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="block m-t-xs font-bold">{{user.cUsuario}}</span>
                                <span class="text-muted text-xs block">{{user.descripcionperfil}}</span>
                            </a>
                        </div>
                    </li>
                    <li v-for="(element, index) in menuFormatted" :key="'menu-'+index" :class="{ active: element.isActive }">
                        <a v-if="element.submenu.length > 0" href="#"  @click.prevent="activateMenu(element.idmenu)">
                            <span class="nav-label">{{element.cmenu}}</span>
                            <span class="fa arrow" v-if="element.submenu.length > 0"></span>
                        </a>
                        <router-link v-else :to="'/'+element.cmenu.replace(' ', '_').replace('.', '').toLowerCase()">
                            <span class="nav-label">{{element.cmenu}}</span>
                            <span class="fa arrow" v-if="element.submenu.length > 0"></span>
                        </router-link>
                        <ul class="nav nav-second-level" v-if="element.submenu.length > 0" v-show="element.isActive">
                            <!-- 
                                <li class="active"><a href="form_basic.html">Basic form</a></li>
                                <li><a href="form_advanced.html">Advanced Plugins</a></li>
                             -->
                            <li  v-for="(sub_el, sub_index) in element.submenu" :key="'sub_menu-'+sub_index">
                                <router-link :to="'/'+sub_el.cmenu.replace(' ', '_').replace('.', '').toLowerCase()">
                                    <span>{{sub_el.cmenu}}</span>
                                </router-link>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
</template>

<script>
    import { userStore } from "../stores/userStore.js";
    
    export default {
        name: 'vmenu',
        data() {
            return {
                listMenu: userStore.state.menu,
                user: userStore.state.user
            };
        },
        computed: {
            menuFormatted() {
                let nav = this.listMenu.filter( (item) => {
                    if(!item.isActive)
                        item.isActive = false;
                    return item.idmenupadre == 0;
                })
                let second_nav = this.listMenu.filter( (item) => {
                    return item.idmenupadre > 0;
                })
                nav.forEach( (item) => {
                    let idmenu = item.idmenu;
                    item.submenu = [];
                    second_nav.forEach( (sub_item) => {
                        if(sub_item.idmenupadre == idmenu){
                            item.submenu.push(sub_item);
                        }
                    });
                })
                return nav;
            }
        },
		methods: {
			activateMenu(idmenu){
                let bk_menu = this.listMenu;
                this.listMenu = [];
                bk_menu.forEach( (item) => {
                    if(idmenu == item.idmenu){
                        item.isActive = !item.isActive;
                    }
                    if(idmenu != item.idmenu){
                        item.isActive = false;
                    }
                    this.listMenu.push(item);
                })
                //el.isActive = !el.isActive;
            }
		},
        mounted() {
            if(!userStore.state.authenticated) {
                this.$router.replace({ name: "login" });
            }            
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
