<template>
    <div class="v_producto">

        <input type="text" style="" v-model="filter" @click="focused" @blur="focusOff" :class="'form-controls '+focusbtn">
        <ul>
            <li v-for="(cliente, index) in list_filter" :key="'cl_'+index" @click="selected(cliente, 'idcliente')">
                {{cliente.cnumdoc}} - {{cliente.cnombpersona}}
            </li>
        </ul>

        <tr class="product-add v_producto" v-for="(producto, index) in carrito" :key="'car_'+producto.idproducto">
            <td>{{producto.cnombproducto}}</td>
            <td>{{producto.nprecioventa | tomoney}}</td>
            <td>
                <input type="number" v-model="cantidad" @change="totalProducto(producto)">
            </td>
            <td>{{cantidad_nprecio}}</td>
        </tr>

    </div>
</template>

<script>

	export default {
		name: 'v_producto',
        props: {
            producto
        },
		data() {
            return {
                cantidad_nprecio: 0,
                cantidad: 1
            };
        },
        methods: {
            totalProducto() {
                let cantidad = producto.cantidad;
                let precio = producto.nprecioventa;
                this.cantidad_nprecio = parseFloat(cantidad)*parseFloat(precio);
            }            
        },
        computed: {
            
        },
        mounted() {
            
        },
	}
</script>

<style lang="scss">
    
</style>