<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Usuarios</h2>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <form action="#" @submit.prevent="saveUsuario()">
                                    <h3>Registrar Usuarios.</h3>
                                    <div class="alert alert-warning alert-dismissable" v-if="message">
                                        <button aria-hidden="true"  @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                        <a class="alert-link" href="#">{{message}}</a>.
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Buscar Persona: </label>
                                        <div class="col-lg-10">
                                            <searchpersonal @change="changePersonal" ></searchpersonal>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Usuario: </label>
                                        <div class="col-lg-5">
                                            <input type="text" name="cl_cnombpersona" id="" class="form-control" v-model="usuario.cusuario" disabled >
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Contraseña: </label>
                                        <div class="col-lg-5">
                                            <input type="password" name="cl_cnombpersona" id="" class="form-control" v-model="usuario.cpassword" disabled >
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Perfil: </label>
                                        <div class="col-lg-5">
                                            <select name="cl_perfil" id="cl_dept" class="col-lg-12 form-control" v-model="usuario.idperfil" required>
                                                <!--<option :value="0" >Seleccionar</option>-->
                                                <option :value="perfil.idperfil" v-for="(perfil, index) in perfiles" :key="index">{{perfil.cperfil}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <i class="col-lg-2"></i>
                                        <div class="col-lg-10">
                                            <button class="btn btn-w-m btn-primary mr10" type="submit">Registrar</button>
                                            <a href="#" class="btn btn-default btn-w-m" @click="$router.go(-1)">Cancelar</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { required, minLength, maxLength, between, integer } from 'vuelidate/lib/validators'
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import searchpersonal from '@/components/s_personales.vue'
    import { usuarioStore } from "../../stores/usuarioStore.js";
    import { userStore } from "../../stores/userStore.js";
    import { perfilStore } from "../../stores/perfilStore.js";
    
	export default {
		name: 'create_usuarios',
        components: {
            vmenu, vheader, searchpersonal
        },
		data() {
            return {
                usuario_data : usuarioStore.state,    
                usuario : {
                    idusuario: '',
                    idpersonal: '',
                    cusuario: '',
                    cpassword: '',
                    idperfil: '',
                    idusureg: '',
                    idusumod: '',
                    lvigente:''
                },
                nombre: ' ',
                apellido: ' ',
                perfiles : [],
                listas: [],
                message : '',
                userStore: userStore.state
            };
        },
        computed: {
            user(){
                if(this.usuario.idtipopersona == 2){
                    return 'Razon social';
                } else {
                    return 'Nombre';
                }
            },
            password(){
                if(this.usuario.idtipopersona == 2){
                    return 'Razon social';
                } else {
                    return 'Nombre';
                }
            }
            
        },
        validations: {
   
        },
        methods: {
            saveUsuario(){
                this.$v.$touch();
                //this.userStore.loading = true;
                let usuario = this.usuario;
                let invalid = false;

                console.log(this.usuario_data.usuarios)
                var verificar = false;
                for (let i = 0; i < this.usuario_data.usuarios.length; i++) {
                    
                    if (this.usuario_data.usuarios!=null) {
                        if(this.usuario_data.usuarios[i].idpersonal!=this.usuario.idpersonal){
                            verificar = false;
                        }else{
                            verificar = true;
                            break;
                        }
                    }
                    
                    
                }   
                
                
                if (verificar==false) {
                    if (!invalid) {
                    
                        let idusureg = userStore.state.user.idUsuario;
                        console.log(idusureg);
                        let idusumod = '0';
                        let lvigente = true;
                        usuarioStore.save(usuario.idpersonal, usuario.cusuario, usuario.cpassword, 
                                usuario.idperfil, idusureg, idusumod, lvigente)
                            .then( () => {
                                this.$router.replace({ name: "usuarios", params: {'message' : "Datos guardados exitosamente"} });
                            }, (error) => {
                                this.message = error;
                                this.userStore.loading = false;
                            });
                    } else {
                        this.userStore.loading = false;
                    };
                }else{
                    this.message = "Usuario ya registrado.";
                    this.userStore.loading = false;
                }
                    
            },
            loadUserPassword(){
               
                    
                    var first_char = this.nombre.substring(0,1).toLowerCase();

                    var first_lastName = this.apellido.toLowerCase().replace(",", " ");

                    this.usuario.cusuario = first_char+first_lastName;

                    this.usuario.cpassword = first_char+first_lastName;
                    
                
            
            
            },
             changePersonal(dato){
               
                this.usuario.idpersonal = dato.split(' ')[0];

                this.nombre = dato.split(' ')[1];
                
                let i = 0;
                for (let index = 0; index < dato.trim().length; index++) {        
                    if (dato.charAt(index)==' '){
                        i++;
                    }    
                }
                if(i==3){
                   this.apellido =  dato.split(' ')[2];   
                }else{
                   this.apellido =  dato.split(' ')[3]; 
                }

                if ( this.nombre != '' && this.apellido != '') {
                    
                    this.loadUserPassword();
                    
                }
                

            },

            closeNotification(){
                this.message = ''
            }
        },
        mounted() {
            
            perfilStore.getPerfil().then( (response) => {
                this.perfiles = [];
                
                response.data.forEach(element => {
                    this.perfiles.push(element);
                });
            });
            this.userStore.loading = true;
            usuarioStore.getUsuarios().then( ()=> {
                
                this.userStore.loading = false;
            }, () => {
                this.userStore.loading = false;
            });

           
           
        }
	}
</script>