<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Usuarios</h2>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <a href="#" class="btn btn-danger btn-outline baja" @click.prevent="baja()">
                                    <i class="fa fa-trash"></i>
                                    Dar de baja
                                </a>
                                <form action="#" @submit.prevent="editUsuario()">
                                    <h3>Editar Usuario.</h3>
                                    <div class="alert alert-warning alert-dismissable" v-if="message">
                                        <button aria-hidden="true"  @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                        <a class="alert-link" href="#">{{message}}</a>.
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Nombre: </label>
                                        <div class="col-lg-5">
                                            <input type="text" name="usu_cnombpersona" id="" class="form-control" v-model="usuario.cnombpersona" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Fecha de mod.: </label>
                                        <div class="col-lg-5" v-if="usuario.dfechamod != null">
                                            <input type="date" name="usu_dfechamod" id="" class="form-control" v-model="usuario.dfechamod" disabled>
                                        </div>
                                        <div class="col-lg-5" v-if="usuario.dfechamod == null">
                                            <input type="text" name="" id="" class="form-control" value="Nunca Modificada" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Usuario: </label>
                                        <div class="col-lg-5">
                                            <input type="text" name="usu_cusuario" id="" class="form-control" v-model="usuario.cusuario" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Password.: </label>
                                        <div class="col-lg-5">
                                            <input type="password" name="usu_cpassword" id="" class="form-control" v-model="usuario.cpassword" disabled>
                                        </div>
                                    </div>
                               
                                    <br>
                                    <template >
                                        <h3>Restablecer Contraseña</h3>

                                    </template>
                                    <div class="form-group row">
                                        <i class="col-lg-2"></i>
                                        <div class="col-lg-10">
                                            <button class="btn btn-w-m btn-primary mr10" type="submit">Restablecer</button>
                                            <a href="#" class="btn btn-default btn-w-m" @click="$router.go(-1)">Cancelar</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</template>

<script>
    import { required, minLength, maxLength, between, integer } from 'vuelidate/lib/validators'
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { usuarioStore } from "../../stores/usuarioStore.js";
    import { userStore } from "../../stores/userStore.js";


	export default {
		name: 'edit_usuarios',
        components: {
            vmenu, vheader
        },
		data() {
            return {
                usuario : {
                    idusuario: '1',
                    cnombpersona: '',
                    dfechamod: '',
                    cusuario: '',
                    cpassword: ''
                },
                message : '',
                usuarioStore : usuarioStore.state,
                userStore: userStore.state
            };
        },
        computed: {
           
        },
        validations: {

        },
        methods: {
            editUsuario(){
                 //loading
                this.$v.$touch();
                this.userStore.loading = true;
                let usuario = this.usuario;
                let invalid = false;
              

                if (!invalid) {
                    let cpassword = usuario.cusuario;
                    let idusuario = usuario.idusuario;

                   
                    usuarioStore.edit(idusuario, cpassword)
                        .then( () => {
                            this.$router.replace({ name: "usuarios", params: {'message' : "Contraseña restablecida exitosamente"} });
                        }, (error) => {
                            this.userStore.loading = false;
                            this.message = error;
                        });
                } else {
                    this.userStore.loading = false;
                }
            },
            changeDoc(index){
           
            },
            baja(){
                this.userStore.loading = true;
                let id = this.$route.params.id;
                usuarioStore.baja(id)
                    .then( () => {
                        this.userStore.loading = false;
                        this.$router.replace({ name: "usuarios", params: {'message' : "Usuario dado de baja exitosamente"} });
                    }, (error) => {
                        this.userStore.loading = false;
						this.message = error;
					});
            },
            closeNotification(){
                this.message = ''
            },
        },
        mounted() {            
            let id = this.$route.params.id;
            let usuarios = this.usuarioStore.usuarios;
            function filterItems(usuarios, id) {
                let list = usuarios.filter( (el) => {
                    return el.idusuario == id;
                })

                return list;
            }

            
            let usuario = filterItems(usuarios, id)[0];

            this.usuario.idusuario = usuario.idusuario;
            this.usuario.cnombpersona = usuario.cnombpersona;
            this.usuario.dfechamod = usuario.dfechamod;
            this.usuario.cusuario = usuario.cusuario;
            this.usuario.cpassword = usuario.cpassword;

        }
	}
</script>
<style lang="scss">
    .btn-danger{
        float: right;
    }
</style>