<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Usuarios</h2>
                    <router-link to="/usuarios/insertar" class="btn btn-primary btn-w-m">Agregar nuevo</router-link>
                </div>
                <div class="col-lg-2">
                    <input type="text" placeholder="Buscar ..." class="form-control search-box" v-model="t_filter">
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                 <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <div class="alert alert-success alert-dismissable" v-if="message">
                                    <button aria-hidden="true" @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                    <a class="alert-link" href="#">{{message}}</a>.
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>Usuario</th>
                                            <th>Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(usuario, index) in usuario_table" :key="'usuario'+index">
                                            <td>{{index+1}}</td>
                                            <td>{{usuario.cnombpersona}}</td>
                                            <td>{{usuario.cusuario}}</td>
                                            <td v-if="usuario.lvigente == true">Habilitado</td>
                                            <td v-if="usuario.lvigente == false">Deshabilitado</td>
                                            <td>
                                                <router-link :to="{path: 'usuarios/editar/'+usuario.idusuario}" 
                                                             class="btn btn-w-m">Editar</router-link>
                                            </td>
                                            <td>
                                                <router-link :to="{path: 'usuarios/ver/'+usuario.idusuario}"
                                                             class="btn btn-w-m">Ver</router-link>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { usuarioStore } from "../../stores/usuarioStore.js";
    import { userStore } from "../../stores/userStore.js";
    
	export default {
		name: 'usuarios',
        components: {
            vmenu, vheader
        },
        props: {
            message: ''
        },
		data() {
            return {
                t_filter : '',
                usuario : usuarioStore.state,
                userStore: userStore.state
            };
        },
        methods: {
            closeNotification(){
                this.message = ''
            }
        },
        computed: {
            usuario_table: function(){
                function filterItems(usuarios, arg) {
                    return usuarios.filter(function (el) {
                        //Editar
                        return el.cnombpersona.includes(arg) || el.cusuario.includes(arg);
                    });
                }
                return filterItems(this.usuario.usuarios, this.t_filter);
            },
        },
        mounted() {
            this.userStore.loading = true;
            usuarioStore.getUsuarios().then( ()=> {
                
                this.userStore.loading = false;
            }, () => {
                this.userStore.loading = false;
            });
        },

	}
</script>