<template>
	<div id="wrapper">
        
        <vmenu></vmenu>
        
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Usuarios</h2>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <a @click="$router.go(-1)" class="btn-outline btn-default btn">&#60;&#60; Regresar a listado</a>
                                <br><br>
                                <div>
                                    <h3>Datos del Personal.</h3>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Nombre: </label>
                                        <div class="col-lg-5 col-form-label">
                                                <span>{{usuario[0].cnombpersona}}</span>
                                            </div>    
                                    </div> 
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Fecha de reg.: </label>
                                        <div class="col-lg-3 col-form-label">
                                            <span>{{usuario[0].dfechareg | todate}}</span>
                                        </div>
                                    </div>
                                    <template >
                                        <h3>Datos de Usuario</h3>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Usuario: </label>
                                            <div class="col-lg-3 col-form-label">
                                                <span>{{usuario[0].cusuario}}</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Estado: </label>
                                            <div class="col-lg-3 col-form-label" v-if="usuario[0].lvigente == false">
                                                <span>Dishabilitado</span>
                                            </div>
                                            <div class="col-lg-3 col-form-label" v-if="usuario[0].lvigente == true">
                                                <span>Habilitado</span>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { usuarioStore } from "../../stores/usuarioStore.js";
    
	export default {
		name: 'show_usuarios',
        components: {
            vmenu, vheader
        },
		data() {
            return {               
                usuarioStore : usuarioStore.state
            };
        },
        methods: {

        },
        computed: {
            usuario: function(){
                let id = this.$route.params.id;
                let usuarios = this.usuarioStore.usuarios;
                function filterItems(usuarios, id) {
                    return usuarios.filter( (el) => {
                        return el.idusuario == id;
                    })
                }
                return filterItems(usuarios, id);
            }
        },

	}
</script>
<style lang="scss">
    .col-form-label span{
        display: inline-block;
    }
    .form-group {
        margin-bottom: .5rem;
    }
</style>