<template>
	<div id="app">
	<!--
		<div id="nav">
			<router-link to="/">Home</router-link> |
			<router-link to="/about">About</router-link>
			<router-link to="/login">Login</router-link>
		</div>
		<div id="nav">
				<router-link v-if="authenticated" to="/login" v-on:click.native="logout()" replace>Logout</router-link>
		</div>
		-->
		<router-view v-if="userStore.authenticated"/>
		<div class="gray-bg" v-if="!userStore.authenticated">
			<div class="middle-box text-center loginscreen animated fadeInDown">
				<div>
					<h1 class="logo-name">GL</h1>
				</div>
				<p>Identifiquese para ingresar a GreenLog.</p>
				<p class="text-danger">{{message}}</p>
				<form class="m-t" role="form" @submit="login()">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Username" v-model="input.username" required="">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="Password" v-model="input.password" required="">
					</div>
					<button type="submit" class="btn btn-primary block full-width m-b">Login</button>
				</form>
				<br><br><br>
				<p class="copy"> <small>GreenLog v1.0 | GroSoTEC SAC &copy; 2019</small> </p>
			</div>
		</div>
		<div class="loading" v-show="userStore.loading">
			<svg class="lds-spinner" width="100px" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" style="background: none;"><g transform="rotate(0 50 50)"> <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#ffffff"> <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.9166666666666666s" repeatCount="indefinite"></animate> </rect></g><g transform="rotate(30 50 50)"> <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#ffffff"> <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.8333333333333334s" repeatCount="indefinite"></animate> </rect></g><g transform="rotate(60 50 50)"> <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#ffffff"> <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.75s" repeatCount="indefinite"></animate> </rect></g><g transform="rotate(90 50 50)"> <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#ffffff"> <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.6666666666666666s" repeatCount="indefinite"></animate> </rect></g><g transform="rotate(120 50 50)"> <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#ffffff"> <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5833333333333334s" repeatCount="indefinite"></animate> </rect></g><g transform="rotate(150 50 50)"> <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#ffffff"> <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5s" repeatCount="indefinite"></animate> </rect></g><g transform="rotate(180 50 50)"> <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#ffffff"> <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.4166666666666667s" repeatCount="indefinite"></animate> </rect></g><g transform="rotate(210 50 50)"> <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#ffffff"> <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.3333333333333333s" repeatCount="indefinite"></animate> </rect></g><g transform="rotate(240 50 50)"> <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#ffffff"> <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.25s" repeatCount="indefinite"></animate> </rect></g><g transform="rotate(270 50 50)"> <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#ffffff"> <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.16666666666666666s" repeatCount="indefinite"></animate> </rect></g><g transform="rotate(300 50 50)"> <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#ffffff"> <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.08333333333333333s" repeatCount="indefinite"></animate> </rect></g><g transform="rotate(330 50 50)"> <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#ffffff"> <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animate> </rect></g></svg>
		</div>
	</div>
</template>

<script>
	import { userStore } from "./stores/userStore.js";

	export default {
		name: 'App',
		data() {
			return {
				authenticated: false,
				userStore: userStore.state,
				input: {
					username: "",
					password: ""
				},
				message: ''
			}
		},
		mounted() {
			if(!userStore.state.authenticated) {
				this.$router.replace({ name: "login" });
			}
		},
		methods: {
			setAuthenticated(status) {
				userStore.state.authenticated = status;
			},
			logout() {
				userStore.state.authenticated = false;
				this.$router.replace({ name: "login" });
			},
			login() {
				userStore.loading = true;
				if(this.input.username != "" && this.input.password != "") {
					userStore.login(this.input.username, this.input.password)
					.then(() => {
						//this.$emit("authenticated", true);
						userStore.state.authenticated = true;
						userStore.loading = false;
						this.$router.replace({ name: "dashboard" });
					}, (error) => {
						this.message = error;
					})
				} else {
					this.message = "Es necesario ingresar el usuario y la contraseña";
				}
			}
		},
	}
</script>

<style lang="scss">

	@import 'assets/css/bootstrap.min.scss';
	@import 'assets/font-awesome/css/font-awesome.css';
	//@import 'assets/css/plugins/iCheck/custom.css';
	//@import 'assets/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css';
	@import 'assets/css/animate.scss';
	@import 'assets/css/style.scss';

	/* #app {
		font-family: 'Avenir', Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		color: #2c3e50;
	}
	#nav {
		padding: 30px;
		a {
			font-weight: bold;
			color: #2c3e50;
			&.router-link-exact-active {
				color: #42b983;
			}
		} 
	}*/
	.page-heading{
		h2{
			display: inline-block;
			margin-right: 20px;
		}
		.btn{
			vertical-align: super;
		}
	} 
	.search-box{
		margin-top: 20px;
	}
	.form-radio{
		margin-top: 10px;
		margin-right: 15px;
		display: inline-block;
		input{
			vertical-align: middle;
			margin-right: 2px;
		}
	}
	.mr10{
		margin-right: 10px;
	}
	.loading{
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: #0009;
		text-align: center;
		svg{
			background: none;
    		margin-top: 100px;
		}
	}
	.table a{
		padding: 0px 12px 6px;
	}
	.gray-bg{
		height: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
	.copy{
		position: fixed;
		bottom: 0;
		width: 100%;
	}
</style>
