<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-9">
                    <h2>Catalogo</h2>
                    <!-- <router-link to="/productos/insertar" class="btn btn-primary btn-w-m">Agregar nuevo</router-link> -->
                </div>
                <div class="col-lg-3">
                    <input type="text" placeholder="Buscar nombre o codigo..." class="form-control search-box" v-model="t_filter">
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <div class="alert alert-success alert-dismissable" v-if="message">
                                    <button aria-hidden="true" @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                    <a class="alert-link" href="#">{{message}}</a>.
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Codigo</th>
                                            <th>Nombre</th>
                                            <th>Tipo</th>
                                            <th>Certificado</th>
                                            <th>Unid. med.</th>
                                            <th>Peso Bruto</th>
                                            <th>Peso Neto</th>
                                            <th>Peso Tara</th>
                                            <th>Precio Base</th>
                                            <th>Precio Venta</th>
                                            <th class="text-center"> - </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(producto, index) in producto_table" :key="'producto'+index">
                                            <td>{{index+1}}</td>
                                            <td>{{producto.ccodproducto}}</td>
                                            <td>{{producto.cnombproducto}}</td>
                                            <td>{{producto.cdesctipoproducto}}</td>
                                            <td>{{producto.descripcion}}</td>
                                            <td>{{producto.cunidad}}</td>
                                            <td>{{producto.npesobruto}}</td>
                                            <td>{{producto.npesoneto}}</td>
                                            <td>{{producto.ntara}}</td>
                                            <td>{{producto.npreciobase | tomoney}}</td>
                                            <td>{{producto.nprecioventa | tomoney}}</td>
                                            <td class="text-center">
                                                <router-link :to="{path: 'productos/editar/'+producto.idproducto}"
                                                             class="btn btn--m">Editar</router-link>
                                            </td>
                                            <!-- <td class="text-center">
                                                <router-link :to="{path: 'productos/ver/'+producto.idproducto}"
                                                             class="btn btn--m">Ver</router-link>
                                            </td> -->
                                            <!-- <td class="text-center">
                                                <a href="" @click="addCar(producto)" class="btn btn-w-a">Agregar al carrito</a>
                                            </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { productosStore } from "../../stores/productosStore.js";
    import { userStore } from "../../stores/userStore.js";
    import { entradaStore } from "../../stores/entradaStore.js";
    import { salidaStore } from "../../stores/salidaStore.js";
    
	export default {
		name: 'catalogo',
        components: {
            vmenu, vheader
        },
        props: {
            message: ''
        },
		data() {
            return {
                t_filter: '',
                productosStore: productosStore.state,
                salidaStore: salidaStore.state,
                entradaStore: entradaStore.state,
                userStore: userStore.state
            };
        },
        methods: {
            closeNotification(){
                this.message = ''
            },
            addCar(producto){
                this.salidaStore.carrito.push(producto)
            }
        },
        computed: {
            producto_table: function(){
                function filterItems(entradas, arg) {
                    return entradas.filter(function (el) {
                        return el.cnombproducto.toUpperCase().includes(arg) || 
                               el.ccodproducto.toUpperCase().includes(arg) || 
                               el.cdesctipoproducto.toUpperCase().includes(arg) || 
                               el.descripcion.toUpperCase().includes(arg);
                    });
                }
                return filterItems(this.entradaStore.entradas, this.t_filter.toUpperCase());
            }
        },
        mounted() {
            this.userStore.loading = true;
            entradaStore.getEntradas().then( ()=> {
                this.userStore.loading = false;
            }, () => {
                this.userStore.loading = false;
            });
        },

	}
</script>