<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Productos</h2>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <form action="#" @submit.prevent="saveProducto()">
                                    <h3>Registrar producto</h3>
                                    <div class="alert alert-success alert-dismissable" v-if="message">
                                        <button aria-hidden="true"  @click="closeNotification()" data-dismiss="alert" class="close" type="button">×</button>
                                        <a class="alert-link" href="#">{{message}}</a>.
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label" for="ccodproducto">Codigo: </label>
                                        <div class="col-lg-5">
                                            <input type="text" name="ccodproducto" id="ccodproducto" class="form-control" v-model="producto.ccodproducto" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label" for="cnombproducto">Nombre: </label>
                                        <div class="col-lg-10">
                                            <input type="text" name="cnombproducto" id="cnombproducto" class="form-control" v-model="producto.cnombproducto" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label" for="cdescproducto">Descripción: </label>
                                        <div class="col-lg-10">
                                            <textarea name="cdescproducto" id="cdescproducto" cols="30" rows="3" class="form-control" v-model="producto.cdescproducto"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label" for="cdetalleproducto">Detalles: </label>
                                        <div class="col-lg-10">
                                            <textarea name="cdetalleproducto" id="cdetalleproducto" cols="30" rows="3" class="form-control" v-model="producto.cdetalleproducto"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label" for="idtipo">Tipo: </label>
                                        <div class="col-lg-10">
                                            <select name="idtipo" id="idtipo" class="form-control" v-model="producto.idtipo" required>
                                                <option :value="tipo.idtipo" v-for="(tipo, index) in tipos" :key="'tipo_'+index">{{tipo.cdesctipoproducto}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label" for="idcertificado">Certificado: </label>
                                        <div class="col-lg-10">
                                            <select name="idcertificado" id="idcertificado" class="form-control" v-model="producto.idcertificado" required>
                                                <option :value="certificado.idcertificado" v-for="(certificado, index) in certificados" :key="'certificado_'+index">{{certificado.descripcion}}</option>
                                            </select>
                                            <!-- <div class="text-danger" v-show="!$v.producto.idcertificado.required">Seleccionar un tipo es requerido.</div> -->
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label" for="idunidmedida">Unid. medida: </label>
                                        <div class="col-lg-10">
                                            <select name="idunidmedida" id="idunidmedida" class="form-control" v-model="producto.idunidmedida" required>
                                                <option :value="unidad.idunidmedida" v-for="(unidad, index) in unidads" :key="'unidad_'+index">{{unidad.cnombre}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <i class="col-lg-2"></i>
                                        <div class="col-lg-10">
                                            <button class="btn btn-w-m btn-primary mr10" type="submit">Registrar</button>
                                            <a href="#" class="btn btn-default btn-w-m" @click="$router.go(-1)">Cancelar</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { required, minLength, maxLength, decimal, minValue } from 'vuelidate/lib/validators'
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { productosStore } from "../../stores/productosStore.js";
    import { userStore } from "../../stores/userStore.js";
    import { generalStore } from "../../stores/generalStore.js";
    
	export default {
		name: 'create_productos',
        components: {
            vmenu, vheader
        },
		data() {
            return {
                producto : {
                    ccodproducto: '',
                    cnombproducto: '',
                    cdescproducto: '',
                    cdetalleproducto: '',
                    idtipo: '',
                    idcertificado: '',
                    idunidmedida: ''
                },
                tipos : [],
                certificados : [],
                unidads : [],
                message : '',
                userStore: userStore.state
            };
        },
        computed: {
        },
        validations: {
            producto: {
                ccodproducto : {
                    required
                },
                cnombproducto : {
                    required
                }
            }
        },
        methods: {
            saveProducto(){
                this.userStore.loading = true;
                let producto = this.producto;
                let idusureg = userStore.state.user.idUsuario;

                productosStore.save(producto.ccodproducto, producto.cnombproducto, producto.cdescproducto, 
                        producto.cdetalleproducto, producto.idtipo, producto.idcertificado,
                        producto.idunidmedida, idusureg)
                    .then( () => {
                        this.$router.replace({ name: "productos", params: {'message' : "Datos guardados exitosamente"} });
                    }, (error) => {
                        this.message = error;
                        this.userStore.loading = false;
                    });

            },
            closeNotification(){
                this.message = ''
            }
        },
        mounted() {
            this.userStore.loading = true;
            generalStore.getTipos().then( (response)=> {
                this.tipos = [];
                response.data.forEach(element => {
                    this.tipos.push(element);
                });
                this.userStore.loading = false;
            }, () => {
                this.userStore.loading = false;
            });

            generalStore.getCertificacion().then( (response)=> {
                this.certificados = [];
                response.data.forEach(element => {
                    this.certificados.push(element);
                });
                this.userStore.loading = false;
            }, () => {
                this.userStore.loading = false;
            });
            
            generalStore.getUnidads().then( (response)=> {
                this.unidads = [];
                response.data.forEach(element => {
                    this.unidads.push(element);
                });
                this.userStore.loading = false;
            }, () => {
                this.userStore.loading = false;
            });
        }
	}
</script>