<template>
	<div id="wrapper">
        <vmenu></vmenu>
        <div id="page-wrapper" class="gray-bg">
            <vheader></vheader>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Productos</h2>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <a @click="$router.go(-1)" class="btn-outline btn-default btn">&#60;&#60; Regresar a listado</a>
                                <br><br>
                                <div>
                                    <h3>Ver producto</h3>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Cod. Producto: </label>
                                        <div class="col-lg-10 col-form-label">
                                            <span>{{producto[0].ccodproducto}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Nombre: </label>
                                        <div class="col-lg-10 col-form-label">
                                            <span>{{producto[0].cnombproducto}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Descripcion: </label>
                                        <div class="col-lg-10 col-form-label">
                                            <span>{{producto[0].cdescproducto}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Detalles: </label>
                                        <div class="col-lg-10 col-form-label">
                                            <span>{{producto[0].cdetalleproducto}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Tipo: </label>
                                        <div class="col-lg-5 col-form-label">
                                            <span>{{producto[0].cdesctipoproducto}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Certficado: </label>
                                        <div class="col-lg-5 col-form-label">
                                            <span>{{producto[0].descripcion}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Unidad med.: </label>
                                        <div class="col-lg-3 col-form-label">
                                            <span>{{producto[0].cnombre}}</span>
                                        </div>
                                    </div>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vmenu from '@/components/v_menu.vue'
    import vheader from '@/components/v_header.vue'
    import { productosStore } from "../../stores/productosStore.js";
    import { generalStore } from "../../stores/generalStore.js";
    
	export default {
		name: 'show_productos',
        components: {
            vmenu, vheader
        },
		data() {
            return {               
                productosStore : productosStore.state
            };
        },
        methods: {

        },
        computed: {
            producto: function(){
                let id = this.$route.params.id;
                let productos = this.productosStore.productos;
                function filterItems(productos, id) {
                    let list = productos.filter( (el) => {
                        return el.idproducto == id;
                    })
                    return list;
                }
                return filterItems(productos, id);
            }
        },

	}
</script>
<style lang="scss">
    .col-form-label span{
        display: inline-block;
    }
    .form-group {
        margin-bottom: .5rem;
    }
</style>